[2016-02-09 13:23] ThaDafinser opened #1 "Can current master be build?"
I got those 3 errors on windows.

Can u build it on unix?

![image](https://cloud.githubusercontent.com/assets/533017/12917252/a38c941a-cf38-11e5-909e-379997d5fff1.png)

[2016-02-09 13:24] gkralik commented on #1
At the moment, current master does not build, I'm doing some refactor work.
The latest version that should build is 28dcb7336f3cb9178720cdfbada43e94a8d96df1.

[2016-02-09 13:26] gkralik commented on #1
I'm currently implementing the `invoke()` method. It should be finished by the end of the week.
Also, I haven't tested on Windows (mostly because I don't have a Windows box), so I appreciate any help with that.

[2016-02-09 13:36] ThaDafinser commented on #1
There i only have one missing external symbol

![image](https://cloud.githubusercontent.com/assets/533017/12917563/555cc812-cf3a-11e5-9711-07cf448ce38c.png)

What versions do you use to build on unix?
- php 7.0.3 (x86 or x64)
- sapnwrfc version?

[2016-02-09 13:39] gkralik commented on #1
Ok, just noticed a missing method in that version. In `sapnwrfc.c#L594`, add the following:

[code]

Then it should compile.

[2016-02-09 13:41] gkralik commented on #1
I'm using PHP 7.0.3 NTS and SDK version 7200.0.28.
I haven't given any attention to thread-safety, that might be an issue when using it on windows. I plan to do that as soon as the basics are working.

[2016-02-09 13:48] ThaDafinser commented on #1
Works with that fix :+1:

Then i try to build a valid `config.w32`

![image](https://cloud.githubusercontent.com/assets/533017/12917884/31d0b6b8-cf3c-11e5-8e5b-abd0686a7c7b.png)

[2016-02-09 13:50] gkralik commented on #1
:+1:
I'll tell you as soon as `invoke()` is ready.

[2016-02-09 14:15] ThaDafinser commented on #1
Cool. Just ping me and try to keep the `config.w32` from the PR updated.

[2016-02-12 09:52] ThaDafinser commented on #1
Could build latest master.

With this part
[code]

Just one warning is shown

![image](https://cloud.githubusercontent.com/assets/533017/13003580/a550a206-d176-11e5-9586-f543bab84c8b.png)

[2016-02-12 09:55] gkralik commented on #1
Perfect. I'll have a look at the warning this weekend. I hope to have a usable version by Sunday :)

[2016-02-12 10:12] ThaDafinser commented on #1
Wow, that would be awesome :+1:

BTW, i asked at SAP support if it's allowed to get the NW RFC library public, to get automatic builds.
They told me i should ask here, but didnt got any reply until yet http://scn.sap.com/thread/3862034
I have not much hope to get a positive answer....

What do you think about publishing on pecl.php.net after the implementation is finished?
This would also allow to

[2016-02-12 10:15] gkralik commented on #1
I would not object against putting it on PECL and making it installable via `pickle`. But let's wait what the SAP folks say. I'm not overly confident that they would allow it to be published. Also I'd probably want a written statement from them just to be on the safe side...

[2016-02-12 11:30] ThaDafinser commented on #1
Yeah i also dont think they allow it. But still it could be provided on `pecl`. For pickle you need a build enviroment anyway, to build a extension on windows.

[2016-02-12 11:33] gkralik commented on #1
Actually, if you put the SDK in some predefined path before using pickle to install it, it could work. In `config.m4` I'm checking a few default paths in case the user does not pass one with the `--with-sapnwrfc=` arg.

[2016-02-13 00:00] gkralik commented on #1
I fixed the signed/unsigned mismatch. Can you try to build the current master on Windows? Should be a working prototype by now.

Also let's split out the PECL thing to a separate issue as soon as there is a reply from the SAP guys.

[2016-02-13 15:22] ThaDafinser commented on #1
Just build it, it works partly. Great job :+1:
DId not see any errors.

![image](https://cloud.githubusercontent.com/assets/533017/13028375/9ccb2de8-d26d-11e5-906c-b9e53613160d.png)

If i try it with `MSHOST` instead of `ASHOST` then the extension has an unknown error currently.

![image](https://cloud.githubusercontent.com/assets/533017/13028389/f988c022-d26d-11e5-87b1-23fca7130747.png)

[2016-02-13 15:47] gkralik commented on #1
Strange. Can you provide more details? Some error message, a core dump, stack trace or anything?

[2016-02-13 15:51] gkralik commented on #1
Also, when does the error occur? During connection or function lookup? Please provide the test script.
Also try to enable trace mode (option `'trace' => 2`) and attach the tracefile...

[2016-02-14 16:09] ThaDafinser commented on #1
@gkralik i will try it on monday with trace enabled

[2016-02-14 16:11] gkralik commented on #1
Thanks. Curious about what that is. Sadly, we don't have a system with load balancing any more, so it's quite difficult to test for me atm.

[2016-02-15 06:57] ThaDafinser commented on #1
@gkralik that was easier then i thought :smile:

The problem is, when you provide a boolean parameter, instead of the '0' like in your example
[code]

[2016-02-15 06:59] gkralik commented on #1
Ahh, ok, the parameters are just passed to the RFC lib directly... maybe we could convert boolean config vars to 0/1...

Glad it works :-)

[2016-02-15 07:01] gkralik commented on #1
I'm closing the issue. Feel free to reopen or create a new one if you spot a problem.

[2016-02-15 07:01] #1 closed

[2016-02-15 07:17] ThaDafinser commented on #1
Yep, this issue got too long. Thank you

[2016-02-15 07:20] ThaDafinser opened #3 "Idea: Exception interface"
Create a exception interface, which is extended by `ConnectionException` and `FunctionCallException` so you can catch both Exceptions with one try/catch

[code]

[2016-02-15 07:26] gkralik commented on #3
If you look into docs/api.md there is `\SAPNWRFC\Exception` as a parent class to both `ConnectionException` and `FunctionCallException`. I added this yesterday. It's not an interface, but should serve the same purpose. What do you think?

[2016-02-15 07:28] ThaDafinser commented on #3
Yeah that's fine too.

I saw it, but thought it's a new one and the other extends the "PHP default" exception.

[2016-02-15 07:28] #3 closed

[2016-02-15 07:33] gkralik opened #4 "Change license to MIT"
As this becomes more serious and stable now, I'd like to change the license of this project from [PHP-3.01](http://www.php.net/license/3_01.txt) to [Apache-2.0](http://www.apache.org/licenses/LICENSE-2.0).

The PHP license was only used because it was the default license for the skeleton extension, but I feel more comfortable with Apache-2.0.

As this concerns all contributors, I need your opinion

[2016-02-15 07:38] ThaDafinser commented on #4
I personally like more the `MIT`, because it's easy and let you do what you want, but Apache is also fine :+1:

If you want a good overview:
http://choosealicense.com/licenses/

[2016-02-15 07:50] gkralik commented on #4
`MIT` it is then. Have used it too and `Apache-2.0` doesn't offer any advantages here. I'll create a PR.

[2016-02-15 09:13] #4 closed

[2016-02-16 09:28] ThaDafinser opened #6 "Windows shutdown error"
Now i get this error on shutdown.

Calling RFC functions before works fine.

This error also comes with the simple command `php -m`

![image](https://cloud.githubusercontent.com/assets/533017/13072147/e6609ac0-d497-11e5-8f3c-717cd2cc010e.png)

[2016-02-16 09:32] gkralik commented on #6
Which version did you use?

Can you tell what was the last version where you did not experience this
error?

On 02/16/2016 10:28 AM, Martin Keckeis wrote:

[2016-02-16 09:37] ThaDafinser commented on #6
Latest. Need to go through the commits, will inform you when i found the last working commit.

[2016-02-16 11:21] ThaDafinser commented on #6
Needed to build a lot of times to get the commit :+1:

With this commit `fd56ff26c12ef099e4c6a21aa39494432cba58af` it stopped to work

https://github.com/gkralik/php7-sapnwrfc/commit/fd56ff26c12ef099e4c6a21aa39494432cba58af

[code]

[2016-02-16 11:35] gkralik commented on #6
Ok, thanks. I'll have a look in the evening.. seems strange. Can you
show me a stripped down version of the PHP script you use that I can use
to try to reproduce the issue?

[2016-02-16 11:58] gkralik commented on #6
@ThaDafinser can you try the `fix-shutdown-error-on-windows` branch and
check if it makes a difference? Just a wild guess, but maybe it helps me
narrow down the problem...

On 02/16/2016 12:21 PM, Martin Keckeis wrote:

[2016-02-16 12:12] ThaDafinser commented on #6
@gkralik that branch works.

Compiler shows me two warnings now
![image](https://cloud.githubusercontent.com/assets/533017/13075912/e90404ee-d4ae-11e5-8e17-a2281a935c9d.png)

[2016-02-16 12:15] gkralik commented on #6
Very well. The please update the fixed branch and try again... I changed
the handling of the errorInfo member. Curious if that works now.

On 02/16/2016 01:12 PM, Martin Keckeis wrote:

[2016-02-16 12:20] ThaDafinser commented on #6
@gkralik still work with the 2nd commit in that branch.
Two warnings still exist

[2016-02-16 12:21] gkralik commented on #6
OK, I'll fix the unused error_info error, but the signed/unsigned
mismatch should already have been resolved in master...

On 02/16/2016 01:20 PM, Martin Keckeis wrote:

[2016-02-16 12:25] #6 closed

[2016-02-16 12:25] gkralik commented on #6
Merged and fixed on current master. Thanks for your help.

[2016-02-16 18:18] gkralik opened #8 "Windows build instructions"
Some instructions for building on Windows would be a nice enhancement.But as I personally don't use Windows, I can't provide them.

@ThaDafinser could you provide instructions on doing that? Even if we can add builds to the releases (and I'm a great fan of doing so as it lowers the barrier of using the extension) some people might want to compile themselves.

[2016-02-16 19:07] ThaDafinser commented on #8
I can provide some instructions, already saw some somewhere in your repo.
In general with a proper `config.w32` you just need to follow https://wiki.php.net/internals/windows/stepbystepbuild
and have the SAPNWRFC in the right location

Yeah builds are important to add. about 1 year ago i didnt know how todo that myself...

The question is how we can "sync" that in the future...that's why i wanted

[2016-02-18 16:08] manudum opened #11 "Segmentation fault on BAPI_PO_CREATE"
I have a segmentation fault when trying to call BAPI_PO_CREATE

Call BAPI_PO_CREATE1
[code]

[2016-02-18 16:09] gkralik commented on #11
Can you please attach the coredump produced by the segmentation fault? Otherwise it's going to be hard to debug. In my tests, the BAPI works.

[2016-02-18 16:45] gkralik commented on #11
So please create a script that reproduces the segfault, run it with `php script.php` and attach the core dump (which you should find in your current working directory).

[2016-02-20 12:13] gkralik commented on #11
@manudum I fixed a segfault in `Connection::getFunction()` which might be related to your issue.
Can you test with the latest version from branch `develop` and tell me if your issue persists?

[2016-02-20 12:30] gkralik commented on #8
I'm closing this (PR #10 remains open until I'm done with the docs update).

[2016-02-20 12:30] #8 closed

[2016-02-22 07:59] ThaDafinser opened #13 "Convert connection parameter boolean"
This one works
[code]

but this one not (worked at piersharding/php-sapnwrfc)
[code]

[2016-02-22 08:09] gkralik commented on #13
I have a fix for that in the pipeline. I should find some time tuesday evening to fix it.

[2016-02-22 08:17] gkralik opened #14 "Exceptions: add getter for errorInfo property"
The PHP Exceptions have getters for their properties, so add a `\SAPNWRFC\Exception::getErrorInfo()` getter for the custom `errorInfo` property.

[2016-02-22 08:23] ThaDafinser opened #15 "Function parameter lost"
It seems that the function invoke parameters are lost

# PHP7
[code]

## Trace
[code]

# PHP5
[code]

## Trace
[code]

[2016-02-22 08:26] ThaDafinser commented on #13
cool thing :+1:

[2016-02-22 08:28] gkralik commented on #15
Seems they are not active (`[...] Active: false [...]`) strange.

[2016-02-22 08:30] gkralik commented on #15
Try calling `$func->setParameterActive('FMI_MATNR', true)` and check if it works.
There is a known bug with parameter activatation, I'll have a look...

[2016-02-22 08:32] ThaDafinser commented on #15
Works.
[code]

[2016-02-22 08:34] gkralik commented on #15
OK, use that as a workaround for now. I hope to find enough time to rework the parameter handling this week. I'll keep you posted.

Thanks for testing :+1:

[2016-02-22 08:36] ThaDafinser commented on #15
Maybe just call `$func->setParameterActive('FMI_MATNR', true)` when a parameter is provided?

NO problem. Testing is important to get it into production asap ;-)

[2016-02-22 08:37] gkralik commented on #15
Yes, the plan is to have a `HashTable` save the activation state and activate each parameter before invoking the RFC.

[2016-02-22 14:21] gkralik commented on #13
OK, what exaxtly happens when you pass a boolean? For me, everything seems good. What does not work however is passing an integer value for the trace level (causes a segfault).

[2016-02-22 14:22] ThaDafinser commented on #13
Also a segfault. Maybe it's only for that parameter (always changed both)

[2016-02-22 14:26] gkralik commented on #13
Quite interesting...

[2016-02-22 14:32] ThaDafinser commented on #13
Just tried it with only `LCHECK`. Only `0` or `1` as a string was valid.

Providing at (int) or (bool) was always a segfault

[2016-02-22 14:32] gkralik commented on #13
Ok, thanks.

[2016-02-22 14:34] gkralik commented on #15
Can't really reproduce this one either... all parameters seem to be active by default.

[2016-02-22 14:59] ThaDafinser commented on #15
Hmm...cant provide you more then the trace and the used code currently...

[2016-02-22 15:04] #13 closed

[2016-02-22 15:06] gkralik commented on #15
No problem.

[2016-02-23 07:58] ThaDafinser opened #16 "0.7.0 release"
Please tell me when all is commited to master/develop for the 0.7.0 release.

Then i will build again for windows...i think that release should be already pretty stable.
At least in my cases

[2016-02-23 08:00] gkralik commented on #16
I plan to do most of the work tonight. I absolutely want to finish the tests and fix the parameter status issue (active/inactive). I'll ping as soon as it's done.

[2016-02-23 08:47] manudum commented on #11
First I had the segfault because uuidd was not installed.
Now, I have a segfault when calling SAP and then some Symfony bundles, like twig or doctrine.
How can I access the branch develop to try your fix ?

[2016-02-23 08:48] gkralik commented on #11
Try branch `master`, it contains the latest development version.

[2016-02-24 08:35] ThaDafinser opened #17 "Change trace directory and level at runtime"
https://scn.sap.com/thread/1822094

To change the `trace` dir, i've done this ugly thing in the PHP5 extension
[code]

Maybe adding the `RfcResetTraceDir` makes sense?

[2016-02-24 08:36] gkralik commented on #17
Yes, I plan to add methods for setting the trace dir and level. It is on my TODO list :smile:

[2016-02-26 07:27] #14 closed

[2016-02-28 00:32] gkralik commented on #15
I can't really reproduce your issue. For me, all parameters are active by default. Calling `setParameterActive()` for all FM parameters seems not to be a solution as it causes segfaults when exceptions occur in the FM...
But there have been changes to parameter handling, so maybe your issue is already resolved.

[2016-02-28 00:35] gkralik commented on #11
@manudum any new on this?

[2016-02-28 00:41] gkralik commented on #15
OK, the new implementation now makes sure that all parameters passed as arguments to `invoke()` are activated. This seems to work and does not cause any strange errors.

[2016-02-29 08:45] manudum commented on #11
No more segmentation fault. Thanks !

[2016-02-29 08:52] gkralik commented on #11
Good to know.

[2016-02-29 08:52] #11 closed

[2016-02-29 08:53] gkralik commented on #16
The next release is nearly finished. Should be ready tonight. I'll ping you @ThaDafinser as soons as I'm done.

[2016-02-29 09:06] ThaDafinser commented on #16
Great thing! Will be happy to build all 4 windows releases again

[2016-02-29 09:19] ThaDafinser commented on #16
@gkralik just fetched the latest master and build one.

Currently there is one warning in VS2015

![image](https://cloud.githubusercontent.com/assets/533017/13390306/defa9e80-decd-11e5-9a4d-3dfb1a70df4d.png)

[2016-02-29 20:14] #17 closed

[2016-02-29 20:21] gkralik commented on #15
fixed in 0.7.0

[2016-02-29 20:21] #15 closed

[2016-02-29 20:22] gkralik commented on #16
@ThaDafinser I release 0.7.0. If you can provide builds, I will attach them to the release. Many thanks in advance.

[2016-03-01 07:17] ThaDafinser commented on #16
@gkralik I cannot add the files to an issue or PR (as "text)

I would either need to create a fake PR, or you add me as a contrib, so i can edit the release and add it directly.

What u pref longterm? Maybe you have another idea?

[2016-03-01 07:29] gkralik commented on #16
I haven't really thought about it yet. For now, create a fake PR and I'll
think about a better way to handle this...
On 1 Mar 2016 08:17, "Martin Keckeis" <notifications@github.com> wrote:

[2016-03-01 08:26] #16 closed

[2016-03-15 08:56] ThaDafinser opened #19 "Feedback: Testing on windows"
Hello,

like already talked on twitter, i did now a test for the extension on windows.

I've tested all classes/methods, expect (never needed them until yet)
[code]

Following things and ideas came to my mind while testing
### Rename Connection::attributes();
To `Connection::getAttributes()` maybe?
https://github.com/gkralik/php7-sapnwrfc/blob/master/docs/sapnwrfc.stubs.php#L71

### Trace level of

[2016-03-16 15:46] gkralik commented on #19
Thanks for testing :+1:

Sounds reasonable, `getAttributes()` would be fine and it would match `getFunction()`, etc.

As far as I understood the comments in the NW RFC SDK headers, `TRACE_LEVEL_OFF` should really disable trace files. I'm going to check that again on my testing VM as I can't remember whether I'd observed similar or different behaviour here.
But I don't think we really can do much i

[2016-03-16 15:49] gkralik opened #20 "Consistent method naming and getter"
Rename `Connection::attributes()` to `Connection::getAttributes()`

Add getter for `Exception::$errorInfo`: `Exception::getErrorInfo()` and make the property private.

[2016-03-16 15:50] gkralik commented on #20
Oh, the getter is already there. So it's just about making the property private...

[2016-03-16 15:52] gkralik opened #21 "TRACE_LEVEL_OFF does create minimal trace file?"
Setting the trace level to `TRACE_LEVEL_OFF` should disable trace files entirely.
Check if that is the case or if it is a bug (in the extension or upstream).

[2016-03-19 10:24] #20 closed

[2016-03-19 10:29] gkralik commented on #21
In my tests, this works as excpected and intended (test `087` covers this case).
What I notice is a `dev_rfc.trc` file which is even created when tracing is disabled. That file just tells me that I have to install `uuidd`. One can't seem to get rid of those files without fixing the error in it.

[2016-03-19 10:29] gkralik commented on #19
See #20 and #21

[2016-03-19 10:29] #19 closed

[2016-03-25 09:51] gkralik commented on #21
@ThaDafinser is it the same for you or do you get another trace file? If yes, can you provide me a minimal code example to reproduce?

[2016-03-30 11:59] ThaDafinser commented on #21
@gkralik looks good, let's go to `v1.0` :smile:

Found the problem on my side....i added trace again in the config :see_no_evil:
[code]

[2016-03-31 15:54] #21 closed

[2016-05-30 13:41] ThaDafinser opened #23 "Publish on PECL"
Since this extension is well tested and many people need SAP access, i think the visibility of this project needs to be better.

Most people will search for extensions over pecl, so i think this would be a good place to list this extension
https://pecl.php.net/account-request.php

Currently you can only find it, if you directly search it on github or google around a while

[2016-06-01 14:10] gkralik commented on #23
I'll look into that next week.

[2016-08-04 08:34] julianz85 opened #24 "Connect via SAP Router"
Hi, is there a way to specify connection over sap router?
Thanks
Alan

[2016-08-05 08:33] gkralik commented on #24
Put your saprouter string in `ashost`:

[code]

[2016-08-22 20:23] studio2222 opened #25 "Extra spaces being added to all return values it seems"
Hi guys!

Stellar job on this php 7 release of the connector. What a lifesaver.

I'm noticing, however, when comparing results to the connector we were using before this, to this connector, that spaces are being added to the end of nearly all values, bot scalar and in table results.

Example:
Call function:
BAPI_CUSTOMER_GETDETAIL1

With import params:
CUSTOMERNO = 2000xxxxx customer number
PI_SAL

[2016-08-23 06:00] ThaDafinser commented on #25
This is the returned valued from SAP (i guess). That was also the behaviour in the PHP5 extension.

If i'm not wrong, SAP always fill the fields with whitespaces to the defined length of the column.

[2016-08-23 06:41] avadaneidanut commented on #25
@ThaDafinser I also think you are right.

@studio2222 Think of the following scenario, you receive a GUID from SAP result that is always 16 bytes long. After applying a recursive trim over all the array (I always did this to remove unused spaces) sometimes the last character of a GUID is a space, end of line or carriage return (happens) and you mess up the data. I lost many hours trying to figure

[2016-08-23 14:23] studio2222 commented on #25
Yeah these 90/10 scenarios are tough.  Previously we were using the saprfc connector which auto trimmed, and we detected this difference when comparing old version new results. However since it seems that 90% of the time trimming the values  is more helpful and harmful, would you be ok adding a configuration setting that would turn trimming on? Say as part of the call function method or as maybe a

[2016-08-24 07:16] ThaDafinser commented on #25
:-1:  for a configuration - this could lead to accidental errors like told by @avadaneidanut

Better an extra function, which does this job

[2016-08-24 07:22] gkralik commented on #25
I'll look into this after my holiday...

[2016-09-02 09:17] gkralik commented on #25
Back from holiday...

Initially, I planned to provide an option to automatically trim returned values. But the more I think about it, the less I think this would be good or the right way.

The developer should know what kind of values/data types to expect to be returned from SAP and therefore should decide whether to trim or not on a per item base. Letting the extension do the trimming just hides

[2016-09-02 09:17] #24 closed

[2016-09-13 16:43] studio2222 commented on #25
Ok, agreed. Not the end of the world. I've added code to trim all values coming back.

[2016-09-13 16:43] #25 closed

[2016-09-13 16:45] studio2222 opened #26 "Failed to set TABLE row, expected array"
We've been wrestling with this one a bit - am getting message "Failed to set TABLE row, expected array"  when calling BAPI_SALESORDER_CREATEFROMDAT2. It would be great if in a downstream version -- if possible -- the error message could include which table parameter it is complaining about. There are a bunch of tables for this BAPI and we're having a hard time figuring out which is the offending i

[2016-09-13 18:48] gkralik commented on #26
The error messages are indeed not ideal, I'll have a look at improving them. Most of them already state the parameter name when an error occurs, but some of the TABLE methods do not currently.

The `RFC_ILLEGAL_STATE` return code in `RfcDestroyFunctionDesc` should not be an issue. There's definitely a problem worth investigating there, but I think your problem lies somewhere else.

I'll have a loo

[2016-09-13 19:16] gkralik commented on #26
Can you upload the full trace somewhere (make sure to whipe credentials and the like)?

[2016-09-13 21:03] studio2222 commented on #26
You bet - thanks much for the help. Here you go.
[rfc09564_09388.salesorder.usb.failed.txt](https://github.com/gkralik/php7-sapnwrfc/files/470797/rfc09564_09388.salesorder.usb.failed.txt)

[2016-09-14 06:03] gkralik commented on #26
Actually, I can't reproduce your error. Using this code:

[code]

I only get errors about the sales document not existing, etc. (which was expected), but the source line that produces the error you mentioned executes cleanly.

I'll poke around a little more though. Can you show me a code snippet that reliably reproduces the error for you?

[2016-09-14 06:07] studio2222 commented on #26
Thanks I'll try your code snippet in the morning and get back to you. Best,

On Wed, Sep 14, 2016 at 2:03 AM -0400, "Gregor Kralik" <notifications@github.com<mailto:notifications@github.com>> wrote:

Actually, I can't reproduce your error. Using this code:

<?php

$config = include "tests/sapnwrfc.config.inc";

$c = new \SAPNWRFC\Connection($config);

$f = $c->getFunction('BAPI_SALESORDER_CREATEFR

[2016-09-14 06:58] gkralik commented on #26
I updated the exception messages to be more clear.

Consider this code, passing a wrong parameter type to `ORDER_PARTNERS`:

[code]

Instead of only
 `Failed to set TABLE row, expected array`
the message is now
  `Failed to set TABLE row, expected array for parameter ORDER_PARTNERS`

I'll release a new version in the next days, so @ThaDafinser can (hopefully?) provide new builds for Windows.

[2016-09-16 07:24] gkralik commented on #26
Happy to hear it works.

I'll definitely have a look at why it doesn't work with references though. I rarely use them, so there are no test using references that could have caught this issue. I'll open another ticket to track progress...

[2016-09-16 07:24] #26 closed

[2016-09-16 07:27] gkralik opened #27 "Passing parameters by reference does not work"
Passing parameter by reference to `invoke()` does not work as intended.

The following input:
![image](https://cloud.githubusercontent.com/assets/20129411/18524579/f3bc120e-7a86-11e6-8532-a15c229fd42b.png)

produces an exception `Failed to set TABLE row, expected array for parameter ORDER_HEADER_IN`.

See #26

[2016-09-16 07:29] gkralik opened #28 "FLOAT parameters should accept int, not only double"
Currently, FLOAT parameters only allow `double` parameters. Allow passing `int` and do the conversion internally.

[2016-09-16 16:22] #28 closed

[2016-09-16 16:46] #27 closed

[2016-09-16 17:29] gkralik opened #29 "Windows builds for 1.1.1"
@ThaDafinser could you provide Windows builds for the latest release 1.1.0?

[2016-09-20 09:06] ThaDafinser commented on #29
@gkralik it seems that the version increase is missing. Just did a build and version is still `1.0.0`

[2016-09-20 09:07] ThaDafinser commented on #29
https://github.com/gkralik/php7-sapnwrfc/blob/master/php_sapnwrfc.h#L16

[2016-09-20 09:09] gkralik commented on #29
Ups... I'll update it to 1.1.1 and ping you as soon as it's done...

[2016-09-20 09:15] gkralik commented on #29
Version 1.1.1 is pushed, should be OK now...

[2016-09-20 09:21] ThaDafinser commented on #29
@gkralik i uploaded the new builds for `1.1.1` here
https://github.com/ThaDafinser/php7-sapnwrfc

***Note that this time i only did x64 builds.***
Since i don't believe that someone really uses x86. If someone complains for missing builds, we can add them then.

[2016-09-20 09:25] gkralik commented on #29
Thanks a lot. I attached the build to the [1.1.1 release page](https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.1.1).

I agree with only providing x64 builds. If someone really needs x86, they can build themselves as we provide build instruction anyway.

[2016-09-20 09:25] #29 closed

[2016-10-25 02:21] bmoif opened #30 "When SAP return a big array, error happen."
Hello sir!
I meet a problem when submit a form.
we have a sales report in SAP, which have many selection options. if we input more condition, we'll get less result,else we'll get huge result. In SAP, everything works fine. But when I submit a form with very less selection condition(ex. S_month: 01 - 10), error happen like this:
[code]

[2016-10-27 09:35] gkralik commented on #30
Please turn on tracing and run the failing code again. Then attach the trace file (make sure to redact confidential information).

[2016-10-27 12:39] bmoif commented on #30
Category               ABAP Programming Error
Runtime Errors         CALL_FUNCTION_SEND_ERROR
ABAP Program           SAPLZ_WX_SD_GROUP01
Application Component  Not assigned
Date and Time          2016.10.27 20:42:26

**Short Text**
    " " (I/O error)

**What happened?**
    CPIC-CALL: 'ThCMSEND', communication rc: CM_DEALLOCATED_NORMAL (cmRc=18),
     taskhandler rc: SAP_O_K (thRc=0)#统计不活动
    An

[2016-10-27 12:40] bmoif commented on #30
it seems php memory overflow....

[2016-10-28 05:51] gkralik commented on #30
Have you tried using `memory_get_usage()`? What's your `memory_limit` setting?

[2016-10-28 11:10] bmoif commented on #30
yes, trid that. memory_get_usage() usually less than 1M. memory_limit = 521M.
I tried the same code with java (jco). No problem!

[2016-11-11 12:01] gkralik commented on #30
I haven't been able to reproduce this issue locally.

Have you tried `memory_get_peak_usage()`?

[2016-11-11 12:24] gkralik commented on #30
Can you show me the detailed exception output when the function call fails?

[code]

I'm especially interested in the `errorInfo` property of the exception object.

[2016-11-18 01:28] bmoif commented on #30
**I get the following error infomation:**
SAPNWRFC\FunctionCallException Object
(
    [message:protected] => Failed to invoke function zfir001
    [string:Exception:private] =>
    [code:protected] => 22
    [file:protected] => /index/zfir001.php
    [line:protected] => 79
    [trace:Exception:private] => Array
        (
            [0] => Array
                (
                    [file] => /ind

[2016-11-18 01:46] bmoif commented on #30
I have tried the following, but it didn't work. I think the main reason might be SAP
return too many data, and php array can't process so many data, the error happens.
because if I limit the [S_MONATLOW] and [S_MONATHIGH] like 01 - 03, it works.
if 01-04 (means more data return from SAP than contition 01-03), error happens.
if 04 -04 , it works……
https://archive.sap.com/discussions/thread/1857186

[2016-11-18 07:53] ThaDafinser commented on #30
@bmoif the error msg states something about the codepage (encoding)

So it seems not to be the size

[2016-11-18 07:55] gkralik commented on #30
Yes, it seems to be an error on the ABAP side, not PHP. I have tested with large array and never had any problems.

I'll have another more detailed look in the next few days though...

[2016-11-18 08:14] bmoif commented on #30
but if it is about encoding, if I submit php with  [S_MONATLOW] and [S_MONATHIGH] like 01 -01, it works.

ST22 error info:
-----------------------------
Category               ABAP Programming Error
Runtime Errors         CALL_FUNCTION_SEND_ERROR
ABAP Program           SAPLZ_WX_SD_GROUP01
Application Component  Not assigned
Date and Time          2016.11.18 16:13:38

Short Text
    " " (I/O error)

[2016-11-18 08:35] bmoif commented on #30
@ThaDafinser I tested again, maybe it really caused by the encoding!!

for example:
we have 1073 entries in SAP ECC for condition [S_MONATLOW] and [S_MONATHIGH] =(03,03). but if I submit with this condition, it works well.

we have 1268 entries in SAP ECC for condition [S_MONATLOW] and [S_MONATHIGH] =(06,06). if I submit with this condition, error happen.
[errorInfo:protected] => Array
        (

[2016-11-18 08:37] gkralik commented on #30
Seeing this numbers I'm convinced it is an encoding issue. I have tested with some 10.000 returned rows without a problem.

[2016-11-18 08:50] bmoif commented on #30
do you have any suggestion for this?

based on the msg([message] => Could not convert from 4110 codepage to 4103 codepage, rc = 2048)
it seems we have two kind of encoding in SAP, but the php file's encoding is utf8.

CODEPAGE              = '4110' "UTF-8
CODEPAGE              = '4103' "UTF-16

[2016-11-28 11:33] RaphaelHerd opened #31 "PHP <-> SAP Write Values"
Hi,

at first I would like to thank you for your work. The code works great. The reason why I'm posting an issue is that I'm not sure if my problem is related to your SAP wrapper or if it's a conceptual problem.

The problem I have is that I cannot write to SAP. It seems that all parameters (user credentials, permission, etc.) are set correct. I also can use the ping-test and some other functions

[2016-11-28 11:35] gkralik commented on #31
What exactly do you mean by "writing"? Can you show some code that you tried and that did not work?

[2016-11-28 14:03] RaphaelHerd commented on #31
Hey,

thanks for the fast reply. I mean pass data from PHP to SAP and store them in SAP. The code example I used is listed below:

`  try {

     $conn = new SapConnection($config);

     $parms = array('USERNAME' => $account,
                    'PASSWORD' => array('BAPIPWD' => $passwd),
                    'LOGONDATA' => array('GLTGV' => '20161101', 'GLTGB' => '20161201'),
                    'A

[2016-11-28 14:51] gkralik commented on #31
I did not try it myself, but from the top of my head I would say you migght need `BAPI_TRANSACTION_COMMIT` to commit your changes. Check the FM documentation of `BAPI_USER_CHANGE`

[2016-11-28 14:58] gkralik commented on #31
https://archive.sap.com/discussions/thread/3272119

Have a look at the example given there.

[2016-11-29 10:34] gkralik commented on #30
Sadly, I have no suggestion...ö

[2016-12-12 09:47] #31 closed

[2016-12-12 09:47] #30 closed

[2017-02-14 14:45] V3sp opened #32 "Error while starting PHP with php_sapnwrfc"
Hi,

I'm affraid I cannot use your module. I installed Apache/2.4.25 (Win64) with PHP 7.0.15 x64 TS as a module on Windows Server 2012.

There is no problem without  php_sapnwrfc and everything works smoothly. However when I add
  extension=php_sapnwrfc.dll
to php.ini (as stated in README.md) and restart Apache I get an error:
  PHP Warning:  PHP Startup: Unable to load dynamic library 'C:\\PrimeS

[2017-02-14 14:49] gkralik commented on #32
Have you tried using an absolute path to the module in your php.ini?

@ThaDafinser any other ideas?

[2017-02-14 15:38] V3sp commented on #32
Same result when using absolute path.

[2017-02-15 07:33] ThaDafinser commented on #32
@V3sp have you followed the guide here? https://github.com/gkralik/php7-sapnwrfc/blob/master/docs/installing_nwrfcsdk.md#windows

I think the SAP dependencies are missing, or your PATH is wrong for them.

[2017-03-03 11:16] KlausSchade opened #33 "Does the API support RFCTYPE_TABLE?"
Thanks for your work on a PHP / SAP Client.
The RFC which I try to invoke got back this RemoteFunction (using var_dump):
[code]
but I cant find a format for the OPTIONS parameter.
When I use
[code]
or
[code]
or
[code]
I got the error: "expected array for parameter OPTIONS "
This SAP RFC works fine with other client programs.
Thanks for your help.

[2017-03-03 11:48] gkralik commented on #33
Hmm, I haven't tried, but according to http://stackoverflow.com/questions/24172130/how-where-to-specify-open-sql-in-pyrfc-call-to-sap-rfc-read-table (which is for python, but the overall interface is similar) this could work:

[code]

[2017-03-03 11:54] gkralik commented on #33
In general, RFCTYPE_TABLE maps to PHP arrays.

[2017-03-03 13:01] KlausSchade commented on #33
Thanks, this was a good hint.
It is the same with the FIELDS parameter. You have to know the KEY-names of the parameter array,
and that these parameters are arrays of arrays
[code]

[2017-03-03 17:15] ThaDafinser commented on #33
Maybe we should add this to the readme/examples? @KlausSchade could you provide a full example?

[2017-03-06 13:24] gkralik commented on #33
Yes, we definitely should improve the documentation and maybe add some information about type mapping.

[2017-03-08 08:11] KlausSchade commented on #33
In the SAP System there is the default RFC_READ_TABLE. Here is an example to call this:
Please mention that there is one array for each FIELD !!!
[code]
this works as
[code]
Now you can iterate over $result and get a string for each row, similar to that:
[code]
I don't know if you can perform something like
[code]
Hopefully there is someone with deep SAP knowledge ;-)

[2017-03-23 13:07] gkralik commented on #33
Have you tried an empty string for fields to fetch all fields (ie `'FIELDS' => ''`)?

[2017-03-23 13:08] #32 closed

[2017-03-23 14:16] KlausSchade commented on #33
Oh yes, if you provide an empty array ``` 'FIELDS' => [] ``` you get all fields.

[2017-03-29 13:24] danutavadanei opened #34 "SSO Support"
Is there any change that this library will receive SSO ticket login support?

[2017-03-29 13:27] gkralik commented on #34
I will have a look at this. My time is limited, so contributions are welcome though...

[2017-03-29 13:42] gkralik commented on #34
What would be necessary to support your use case? Can you give me some details?

[2017-03-29 17:04] avadaneidanut commented on #34
So,

It seems like this library already supports SSO authentication. I have a 3rd party service that generates SSO ticket over all my logical systems. and after that I can do this:

[code]

The only thing that will fulfill this use case will be a method like
[code]
that will generate the SSO ticket after you log in with user and passwd. I think this can help us: [click](https://github.com/piershar

[2017-03-29 17:44] gkralik commented on #34
So just a missing wrapper for `RfcGetPartnerSSOTicket`? Should be quite easy.
Do you want to submit a PR? I'll happily review and merge.

[2017-03-29 18:39] avadaneidanut commented on #34
I am trying to make a wrapper over it. But I am not very familiar with the functions.

I did something but I get an `RFC_ILLEGAL_STATE` exception.

[code]
I found something [here](https://github.com/golocomotive/nwrfcsdk/blob/master/nwrfcsdk-32/demo/sso2sample.c#L29). But something is not working. Any ideeas? Check my commits on the [fork](https://github.com/avadaneidanut/php7-sapnwrfc.git)

[2017-03-29 18:43] gkralik commented on #34
I'll have a look later.

On 29 Mar 2017 8:39 pm, "Avadanei Danut" <notifications@github.com> wrote:

[2017-03-30 07:22] ThaDafinser commented on #34
In the old PHP5 version, there was also a SSO part...
Maybe this helps? (as a "proof of concept")
https://github.com/piersharding/php-sapnwrfc/blob/f521c9c359bae75f9af8889793d447a9c7da7d8a/tests/Z_old/SSOTest.php#L31

[2017-03-30 14:42] gkralik commented on #34
From the documentation of `RfcGetPartnerSSOTicket`:

So it obviously is not possible for a client.

[2017-03-30 17:48] gkralik commented on #34
After a little more research, this is what I've come up with:

The NW RFC SDK does not support fetching SSO tickets for client connections (contrary to the old RFC SDK). This is mentioned in the API docs and seems to be related to security reasons ([see here](https://archive.sap.com/discussions/thread/3374618)). This is why calls to `RfcGetPartnerSSOTicket` result in a `RFC_INVALID_STATE` error.

[2017-03-30 17:57] #33 closed

[2017-03-30 17:57] gkralik opened #35 "Improve documentation"
General usage, parameter types, etc.

[2017-03-31 14:36] ThaDafinser opened #36 "Reminder: Builds for windows"
Just a reminder for me :+1:

[2017-04-03 08:28] ThaDafinser commented on #36
Build are available here for `7.0` https://github.com/ThaDafinser/php7-sapnwrfc/pull/1

@gkralik could you already build your extension for `7.1` on unix?
I can't build it on windows currently.

[2017-04-03 08:32] gkralik commented on #36
👍
Yes, I built for 7.1, did not notice any problems. Do you get build errors?

[2017-04-03 08:37] gkralik commented on #36
Just confirmed, builds fine for 7.0 and 7.1 under Linux.

[2017-04-03 08:42] ThaDafinser commented on #36
I used the new guide + the new sdk-binary-tools (which worked nice for this php 7.0 build)
https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2

I would say no ...using php 7.1.3 (and the 7.1. deps ...)

Do you changed anything SAP related to build for 7.1?

# configure --disable-all --enable-cli --disable-zts --with-sapnwrfc=shared
[log1.txt](https://github.com/gkralik/php7-sapnwrfc/files

[2017-04-03 08:43] ThaDafinser commented on #36
BTW this warning also pops up in PHP 7.0
`WARNING: distro depends on sapnwrfc.dll, but could not find it on your system`

[2017-04-03 08:46] gkralik commented on #36
Hmm, strange. I did not change anything. Seems we need to have a more detailed look at this issue...

[2017-04-03 10:30] ThaDafinser commented on #36
building is fine :see_no_evil: :
failed to properly configure PHP 7.1 in my local dev enviroment...(add sap .dll to php root)

added the build for 7.1 now to the PR / branch
https://github.com/ThaDafinser/php7-sapnwrfc/tree/build-1.1.2
https://github.com/ThaDafinser/php7-sapnwrfc/pull/1/files

[2017-04-03 10:32] ThaDafinser commented on #36
Note: VC15 is a typo (it's VC14)

[2017-04-03 10:51] gkralik commented on #36
Thanks, I have added them to the release page 👍

[2017-04-03 10:51] #36 closed

[2017-04-07 17:02] avadaneidanut commented on #34
Very nice. I didn't now about `SUSR_CHECK_LOGON_DATA`.
I think it's best for not including this method in the official repository, with this imposed security risk.

What we could do is to add a argument in the `__construct` method of `SAPNWRFC\Connection` or even in the config array that will automatically do this in the C enviroment and store the ticket in a private property that will be accessed

[2017-04-12 07:41] avadaneidanut commented on #23
@gkralik reminder on this one. Is something that we can do to help you with this?

[2017-04-12 07:43] gkralik commented on #23
Ah thanks, I had almost forgotten about this one.
I'll have to apply for a PECL account to be able to publish the extension. I'll have a look as soon as I have some spare time.

[2017-05-09 09:39] d4nyl0 opened #37 "Windows installation issues"
Hi,

Thank you for your time developing this project.

I have trouble installing pre-built module on PHP.

My configuration:
- PHP 7.0.16 VC14 downloaded from https://sourceforge.net/projects/xampp/files/XAMPP%20Windows/ (package xampp-portable-win32-7.0.16-0-VC14.7z)
- downloaded SAP NW RFC SDK 7.20 (package NWRFC_42-20004568.SAR) and extracted in c:\nwrfcsdk\
- added c:\nwrfcsdk\lib to PATH (ech

[2017-05-09 09:50] gkralik commented on #37
@ThaDafinser any ideas? I've never tried to build or use it on Windows.

[2017-05-09 10:05] ThaDafinser commented on #37
@d4nyl0 you downloaded the win32 version (of xampp)

Can you do a `php -v` and check if PHP is also 32bit? The latest build are x64 only.

[2017-05-09 12:29] d4nyl0 commented on #37
@ThaDafinser

php -v

PHP 7.0.16 (cli) (built: Feb 14 2017 12:08:37) ( ZTS )
Copyright (c) 1997-2017 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies

In Windows Task Manager i can see "php.exe *32", which means it is 32 bit.

I though it was a 32/64 bit compatibility issue, but with php_sapnwrfc-1.0.0-7.0-vc14-ts-x86.dll I have same error.

[2017-05-09 12:48] ThaDafinser commented on #37
@d4nyl0 AFAIR, those old version you are using worked with 32bit + NTS (not thread safe).
(i never tested TS/ZTS, since i don't have such an enviroment).

Can you verify that SAP is 32bit as well? If i remember correctly at extraction level you can choose that as well. Maybe that is the issue.

Since you are using xampp, and not a simple php version: Does the `phpinfo()` show the SAP path as well?

[2017-05-09 14:26] d4nyl0 commented on #37
@ThaDafinser

I use xampp, but I can also run php executable :-)
So in phpinfo() (or with php --info) I see "Thread Safe is enabled"; so I expected php_sapnwrfc-1.0.0-7.0-vc14-ts-x86.dll to work (7.0, VC14, TS, 32bit), but it isn't; always in phpinfo() I can see "C:\nwrfcsdk\lib" in "Path" section.

_Can you verify that SAP is 32bit as well? If i remember correctly at extraction level you can choo

[2017-05-10 14:01] gkralik commented on #37
Maybe we should include the sapnwrfc.dll version the prebuilt extensions are linked against on the [release page](https://github.com/gkralik/php7-sapnwrfc/releases)...

@ThaDafinser what do you think?

[2017-05-10 14:01] gkralik commented on #37
@d4nyl0 so your problem is solved then?

[2017-05-11 05:01] ThaDafinser commented on #37
You mean adding the SAP version in the file name?
Adding the dll dircetly is a license issue if im correct.

[2017-05-11 05:03] gkralik commented on #37
Yes, only the version number, not the DLL itself.

On 11 May 2017 07:02, "Martin Keckeis" <notifications@github.com> wrote:

[2017-05-11 05:05] ThaDafinser commented on #37
Good idea. Will add it in the next bugfix release :+1:

[2017-05-11 08:28] d4nyl0 commented on #37
@gkralik
I have no more error/warnings, even though I had no time to test any connection.
I think we can close this issue.

Ah, I have never compiled nothing under Windows, but I'm playing with Visual Studio, trying to build latest version of the library for x86. =8-O
I'll keep you informed.

Thank you for support: can I offer a beer to you? ;-)

[2017-05-11 08:36] ThaDafinser commented on #37
@d4nyl0 try the CLI - works better than the "GUI version" IMO.
https://github.com/gkralik/php7-sapnwrfc/blob/master/docs/building.md#windows

[2017-05-11 08:42] d4nyl0 commented on #37
@ThaDafinser
I think so; PHP Wiki suggest to use CLI also.
https://wiki.php.net/internals/windows/stepbystepbuild
I'm lucky: I love CLI. ;-)

The only difference is that I'm using Visual Studio 2017 , the only available on the official page, but it has libraries for VC14 x86, so I couldn't encounter impossible issues. At least it is my hope. :-)

[2017-05-11 16:26] gkralik commented on #37
You're welcome. You can ;-D

[2017-05-11 16:30] gkralik commented on #23
I'm still thinking about a way to streamline the Windows build experience before I'm willing to take this step. And we would have to make some CS fixes to comply with the PHP coding standard...

[2017-05-11 16:32] gkralik commented on #34
I'm not sure if it would be a good way to add something to the extension that can easily be done with user code. Maybe we should just add documentation for this...

[2017-05-11 19:10] d4nyl0 commented on #37
Ok, I did it.
@ThaDafinser  Are you abstemious? :-)

[2017-05-12 04:52] ThaDafinser commented on #23
CS fixes shouldnt be a problem.
For the windows builds the SAP lib is required which might be a license issue (will be published on pecl for the automatic builds)

Maybe in the first step unix only would be enough

[2017-05-12 04:54] ThaDafinser commented on #37
Beer is always nice ;-)

[2017-05-12 05:53] gkralik commented on #23
The SAP NW RFC lib is needed for all builds. And we are definitely not publishing it, as that would be a blatant violation of the license.
So even if we publish on PECL, a user would be required to first obtain and extract the library before being able to install the extension.

[2017-05-12 06:46] ThaDafinser commented on #23
For automatic build, the SAP package is required (if i'm not wrong).

PECL is currently publishing all dependencies here: http://windows.php.net/downloads/pecl/deps/

I asked for permission some time ago at SAP here: https://archive.sap.com/discussions/thread/3862034

[2017-05-12 07:01] gkralik commented on #23
There won't be any fully automated builds for this extension. I see no way
whatsoever to get permission to redistribute.

The only way is to manually download the lib and extract it before
attempting to build the extension.

On 12 May 2017 8:46 am, "Martin Keckeis" <notifications@github.com> wrote:

[2017-05-12 19:23] paymentplugins opened #38 "Provide sapnwrfc.dll 32-Bit"
Hello,

Thank you for maintaining this project. Is it possible to provide the sapnwrfc.dll for 32 bit? The SAP Marketplace downloads section does not appear to provide a 32 Bit version of the RFC SDK and MAMP on windows only supports 32 bit. This causes the warning message "%s1 is not a valid Win32 Application" as described in issue 37.

It is proving prohibitively difficult to obtain this 32 bit

[2017-05-12 20:09] paymentplugins commented on #38
It appears it would be a license violation if you were to publish that library. So I guess issue closed.

[2017-05-12 20:09] #38 closed

[2017-05-12 20:26] gkralik commented on #38
You are right, we cannot provide the SAPNW RFC libraries.

On 12 May 2017 10:09 pm, "Payment Plugins" <notifications@github.com> wrote:

[2017-05-12 22:42] paymentplugins opened #39 "Could not open the ICU common library"
Hi Guys,

I am getting an apache error that some required dlls can't be found.

Steps so far:

1. Unpacked and added nwrfcsdk from SAP Marketplace.
2. Added C:\nwrfcsdk\lib folder to Windows environment variables under PATH
3. Added php_sapnwrfc.dll extension to php.ini

Receiving the following message in apache error log.
`Could not open the ICU common library.
   The following files must be in t

[2017-05-12 22:44] gkralik commented on #39
Are the required files in PATH?

On 13 May 2017 12:42 am, "Payment Plugins" <notifications@github.com> wrote:

[2017-05-12 22:48] paymentplugins commented on #39
Yes, all the dll's are in the  C:\nwrfcsdk\lib folder and the include folder is there as well. In addition, echoing the %path% shows that the system variable is set.

Thanks,

[2017-05-13 03:17] paymentplugins commented on #39
I downloaded the old 32 bit files from sourceforge and added them to the C:\nwrfcsdk folder and I am now able to connect. ¯\_(ツ)_/¯

[2017-05-13 03:17] #39 closed

[2017-05-17 06:16] d4nyl0 commented on #37
Ok, guys, you should already had received a beer (please, let me know if not) and I tested a first connection which works like a charm! :-)
So, for me this issue could be closed.

Thanks a lot for your help.
See you.
Danilo

[2017-05-17 06:20] ThaDafinser commented on #37
Thanks a lot - tasted really well :beer: :smile:

[2017-05-17 07:29] gkralik commented on #37
Thank you, it was very much appreciated ☺

[2017-05-17 07:29] #37 closed

[2017-06-19 13:50] pingudinu opened #40 "error executing functions in CentOS Linux release 7.3.1611 (Core) 64 bit"
Sir I am facing error while executing functions on system using php 7.1 on CentOS Linux release 7.3.1611 (Core) 64 bit kernel  3.10.0-514.2.2.el7.x86_64 .

error: PHP Fatal error:  Uncaught Error: Call to undefined function sapnwrfc_rfcversion() in /usr/share/nginx/html/cr/a.php:11
Stack trace:
#0 {main}
  thrown in /usr/share/nginx/html/cr/a.php on line 11.

php info says : sapnwrfc

sapnwrfc sup

[2017-06-19 14:10] ThaDafinser commented on #40
you need to use
[code]

[2017-06-19 14:10] gkralik commented on #40
This extension does not provide a function `sapnwrfc_rfcversion()`. I suppose you mean `SAPNWRFC\Connection::rfcVersion()`?

[2017-06-19 14:12] #40 closed

[2017-06-20 05:46] pingudinu commented on #40
Thanks ... you saved my Day.

[2017-07-19 14:39] hanni2001 commented on #35
I would apreaciate an update on the documentation. I also would be glad to help.
I am a total newbe on this and having trouble to get started.

[2017-07-20 06:15] gkralik commented on #35
I hope to have time later in the summer. In the meantime you can use the tests as a starting point. If that does not help you, feel free to open an issue.

[2017-10-10 08:33] vlobovikov opened #41 "Building with SAP NW RFC SDK < 7.20"
Hi,
I tried make a library for PHP 7.1 and got a error.
I tried this in two different Systems:

1) PHP 7.1.10-1+0~20170929170818.9+stretch~1.gbp501135 (cli) (built: Sep 29 2017 17:08:20)
OS:
Linux c026bfe236a2 4.4.0-87-generic #110-Ubuntu SMP Tue Jul 18 12:55:35 UTC 2017 x86_64 GNU/Linux

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.1 (stretch)
Release:	9.1
Codename:	stretch

2)PHP 7.1.1

[2017-10-10 15:20] gkralik commented on #41
Which version of the NetWeaver SDK do you use?

[2017-10-10 16:09] vlobovikov commented on #41
Version => 1.1.2
SAP NW RFC SDK => 7.11.0

[2017-10-11 08:58] gkralik commented on #41
I have never tried to build the extension with a RFC SDK version < 7.20.. I'll have a look when I find some free time. In the meantime you can try to comment out the offending lines, but YMMV.

[2017-10-11 10:26] gkralik commented on #41
I will try to make the inclusion of those members conditional on their existence.

[2017-10-11 11:30] gkralik commented on #41
You can try the latest version from `master`, it should build without error. Make sure to run `make test` after a successful build.

[2017-10-11 11:32] vlobovikov commented on #41
Thank you.
I had a Problem with sapnwrfc.c too. Functions partnerBytesPerChar & partnerSystemCodepage does not exist. (see my commit https://github.com/vlobovikov/php7-sapnwrfc/commit/d60902d8c598060dee86a959b66449d6cbda3de1 file sapnwrfc.c)

[2017-10-11 11:37] gkralik commented on #41
I tried with SDK version 7.11. `partnerBytesPerChar` exists for me. But we can easily add a check for it as well.

[2017-10-11 11:53] vlobovikov commented on #41
Perfect! Thank you very much.
It works now!

[2017-10-11 11:56] #41 closed

[2017-10-20 16:43] gkralik commented on #23
Building the extension is reasonably easy provided one has the SAP NW RFC SDK installed. Publishing on PECL would only make sense if the build could be fully automated and that would require permission to redistribute the SDK. It's unlikely we will get the permission, so closing this.

[2017-10-20 16:43] #23 closed

[2017-10-26 14:26] gkralik commented on #35
There is a work-in-progress of the new documentation at http://gkralik.github.io/php7-sapnwrfc.
Still incomplete though...

[2017-10-29 11:08] gkralik commented on #35
Documentation is now available at http://gkralik.github.io/php7-sapnwrfc.

[2017-10-29 11:08] #35 closed

[2017-11-07 12:13] szabizs opened #42 "Windows installation problem"
Hi guys,

I've done all steps, why do I get this error?

[code]

[2017-11-07 12:47] szabizs commented on #42
Got it working after all, did not save the Path Variables, forgot to press Save and the dialog was still open.

[2017-11-07 12:47] #42 closed

[2017-11-17 03:26] aryapujianto opened #43 "Error when building for PHP 7.2"
Sir, After I am `make install` and getting error

`rm -f /usr/sap/nwrfcsdk/php7-sapnwrfc/sapnwrfc.c.ii /usr/sap/nwrfcsdk/php7-sapnwrfc/sapnwrfc.c.i && cc -E  -DZEND_ENABLE_STATIC_TSRMLS_CACHE=1 -I. -I/usr/sap/nwrfcsdk/php7-sapnwrfc -DPHP_ATOM_INC -I/usr/sap/nwrfcsdk/php7-sapnwrfc/include -I/usr/sap/nwrfcsdk/php7-sapnwrfc/main -I/usr/sap/nwrfcsdk/php7-sapnwrfc -I/usr/include/php/20170718 -I/usr/inc

[2017-11-17 08:48] gkralik commented on #43
Are you sure you are using PHP 7.1.10? Looks more like 7.2 which is not yet supported by this extension.

[2017-11-17 13:24] gkralik commented on #43
I will add support for PHP 7.2 in the next few days...

[2017-11-17 22:23] aryapujianto commented on #43
oww sorry, Iam using php-fpm
I try
`sudo phpize7.1`
`sudo ./configure --with-php-config=/usr/bin/php-config7.1 --with-sapnwrfc=/usr/sap/nwrfcsdk`
`sudo make`
and
`sudo ln -sf /etc/php/7.1/mods-available/sapnwrfc.ini /etc/php/7.1/fpm/conf.d/20-sapnwrfc.ini`

and everything is fine, thanks for your response Sir ^_^

[2017-11-18 17:03] gkralik commented on #43
PHP 7.2 support is in master.

[2017-11-18 17:03] #43 closed

[2017-12-11 13:08] avadaneidanut opened #45 "Deactivate nested parameters"
**Hi guys,**

I know we can disable parameters using: [activating-deactivating-parameters](https://gkralik.github.io/php7-sapnwrfc/usage.html#activating-deactivating-parameters)

Is there any possibility that we can disable table fields?

Example:
We have `TBL1` with the following structure:
[code]
I want to retrieve only `FIELD1` and should call something like
[code]

Is this possible in NWRFC SD

[2018-01-08 14:46] gkralik commented on #45
This is currently not possible. I will have a look at it though...

[2018-01-09 14:34] chrisman42 opened #46 "Windows x86 build for PHP 7.1"
Hi, can you help me out by building a php_sapnwrfc-1.1.2-7.1-vc14-ts-x86.dll? I need it for a PHP project and find only x64 or for PHP 7.0.

best regards,
Christian

[2018-01-09 14:39] gkralik commented on #46
I do not use Windows myself...

@ThaDafinser can you help out?

[2018-01-09 14:42] chrisman42 commented on #46
Thanks for your quick response and for forwarding my request.

[2018-01-10 12:17] ThaDafinser commented on #46
Sadly i am not having a working build enviroment anymore (I switched to the 🍎 )
Until i am having again such an enviroment, i cannot provid you with builds.

But its not that hard to do it on your own. I think with the description provided here you should be successfull: https://github.com/gkralik/php7-sapnwrfc/blob/master/docs/building.rst#building-on-windows

BTW @chrisman42 is there any reason

[2018-02-01 08:18] reachz commented on #42
dear, szabizs

do you drop any file  php_sapnwrfc.dll on your path /php/ext/

i still got an error
Warning: PHP Startup: Unable to load dynamic library 'D:\xampp\php\ext\php_sapnwrfc.dll' - The specified module could not be found.
 in Unknown on line 0

so do you mind if I beg your php_sapnwrfc.dll file from you.

[2018-02-01 08:23] szabizs commented on #42
Hi @reachz ,
Sure, here it is, I use this:
PHP: 7.0.10
Compiler: MSVC14 (Visual C++ 2015)
Build date: Aug 18 2016 09:42:43
Architecture: x64

[php_sapnwrfc.zip](https://github.com/gkralik/php7-sapnwrfc/files/1684696/php_sapnwrfc.zip)

[2018-02-01 08:35] reachz commented on #42
thank you, very much sir.

[2018-02-01 08:38] reachz commented on #46
dear, chisman42

Are you solve this issues?

[2018-02-01 10:48] chrisman42 commented on #46
Hi, we switched to 64 bit and used the libraries compiled by ThaDafinser.

[2018-02-01 10:48] #46 closed

[2018-02-01 10:54] reachz commented on #46
" switched to 64 bit " that mean you use XAMPP 64 Bit ?

so do you mind if I beg your php_sapnwrfc.dll file from you.

thank you, sir

[2018-02-01 10:58] chrisman42 commented on #46
no, not XAMPP. Apache, PHP, MySQL all installed and configured separately.
You can download the dll matching your architecture here: https://github.com/ThaDafinser/php7-sapnwrfc/tree/build-1.1.2

[2018-02-01 11:04] reachz commented on #46
I see
thank you, sir.

[2018-02-05 07:25] santosoyoppy opened #47 "ask"
i want to ask about, where is the file :
    use SAPNWRFC\Connection as SapConnection;
    use SAPNWRFC\Exception as SapException;

i using php5.
in documentation, i must download SAP NW RFC library.
is it not provided in the php7 folder?

[2018-02-24 12:56] goalmaker opened #48 "how to write data"
The code works fantastic to read data.
Can you tell me how to write data to SAP?
using iis server, php7

[2018-02-24 12:58] avadaneidanut commented on #48
Depends on the FMs you use. For BAPIs usually you need to call
BAPI_TRANSACTION_COMMIT after the main BAPI call. Can you give more details?

On Feb 24, 2018 14:56, "goalmaker" <notifications@github.com> wrote:

[2018-02-24 13:43] goalmaker commented on #48
actually i am very new to this.
code details: [stack](https://stackoverflow.com/questions/48962760/sapnwrfc-connection-how-to-write-data-php)
My abap developer will provide me BAPI_TRANSACTION_COMMIT tomorrow.
i just want to know which function i have to use to send parameters to BAPI.

[2018-02-24 13:50] avadaneidanut commented on #48
Same as calling a read function.

On Feb 24, 2018 15:44, "goalmaker" <notifications@github.com> wrote:

[2018-02-25 12:37] goalmaker commented on #48
Hi
[code]
////////

[2018-02-26 04:52] goalmaker commented on #48
@avadaneidanut  @gkralik

Please help brothers. no proper tuts are available that my brain can analyse. As zero knowledge in SAP.

Git and Stack is the only place i can understand.

[2018-02-26 09:29] goalmaker commented on #48
writing success. But only single data. How to write multiple rows with single invoke?

[2018-02-26 09:48] gkralik commented on #47
This is a PHP 7+ only extension, so it will not work with PHP5.

[2018-02-26 09:48] #47 closed

[2018-02-26 09:49] gkralik commented on #48
That depends on the function module you are using/calling. Consult with your ABAP developer to find out.
Closing, as this is not an issue with the extension itself.

[2018-02-26 09:49] #48 closed

[2018-02-26 09:53] avadaneidanut commented on #48
Sharw the success code.

On Feb 26, 2018 11:29, "Vivan Menezes" <notifications@github.com> wrote:

writing success. But only single data. How to write multiple rows with
single invoke?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/gkralik/php7-sapnwrfc/issues/48#issuecomment-368439741>,
or mute the thread
<https://github.

[2018-02-27 05:01] goalmaker commented on #48
@gkralik  @avadaneidanut Thank you guys for your response.

I am able to send the data now. Learned to modify my code.

$parms = [
       // 'I_MATTYPE' => 'FERT', 'I_PLANT' => '1000'
        "IT_MATERILALS" => ['defaultValue' => $INputParams]
        ];
I modified the parms
` $parms = [

        "IT_MATERILALS" => ['0' => $INputParams,'1' => $INputParams2]

        ];`

and now it worked without

[2018-03-08 14:18] avadaneidanut opened #49 "Change invoke rtrim to false as default"
I think we should change rtrim option to false by default. It breaks compatibility with older versions and I think it will affect many users. It already affects all my applications.

[2018-03-08 14:20] gkralik commented on #49
Yes, you are right. I will push an updated version soon.

[2018-03-08 14:43] gkralik commented on #49
Version 1.2.1 makes the `rtrim` option default to `false`.
Documentation has been updated to reflect this change.

[2018-03-08 14:43] #49 closed

[2018-03-09 08:43] gkralik commented on #45
I'm not sure this is possible using the SAP NW RFC SDK.

[2018-04-08 16:51] #45 closed

[2018-04-09 20:20] szabizs opened #50 "Does anyone have a precompiled Windows dll for PHP 7.2.4 ?"
Hi guys,

Does someone have a precompiled DLL for this version?

**Version: PHP Version 7.2.4**
„
Windows NT M900327 10.0 build 16299 (Windows 10) AMD64
„

Thanks in advance!

[2018-04-10 08:39] szabizs commented on #50
Thank you @avadaneidanut  (Mersi!)

![image](https://user-images.githubusercontent.com/5064872/38545883-c8856f68-3cb3-11e8-9941-c8715fd9c0dd.png)

[2018-04-10 09:28] #50 closed

[2018-04-19 14:48] iespino00 opened #51 "PHP Extensions."
Hello, thanks for this repository, but my php doesn't detect the extension .dll . Can i help me?

[2018-05-14 07:14] goalmaker opened #52 "issue when bapi change, feilds(key and value) does'nt map"
When the bapi TABLE column format change the response array doesnt map with respective fields unless WEBSERVER  is restarted.

I am using IIS server and php 7.0.21
x64.

When i restart the iis server the data(value) maps with respective fields(Key).

Kindly advise.

[2018-05-14 09:10] gkralik commented on #52
Can you provide a (reproducible) example?

[2018-05-14 09:13] gkralik commented on #51
Do you have more details?

[2018-05-14 10:18] goalmaker commented on #52
example in bapi table
col1 | col2 | col3 | col4
  1   |   2    |   3    |   4

PHP invoke - results  is same ok.
col1 | col2 | col3 | col4
  1   |   2    |   3    |   4

When table field change like, if i remove col3 in BAPI in SAP
In BAPI
col1 | col2 | col4
  1   |    2   |    4

PHP invoke - results as below:
col1 | col2 | col4
  1   |   2 3 |    4

after i restart the iis server 2012 the PHP in

[2018-05-14 10:26] gkralik commented on #52
Might be an issue with caching. I will have a look at this, but cannot give you an exact timeframe.
What I need is a minimal reproducible example (including ABAP code).

[2018-05-14 10:41] goalmaker commented on #52
Sorry Mr gkralik. puting live data as well as ABAP code in public is not authorized for me. It is a long procedure and takes time.
I am a PHP programmer and am more into GUI interface.
The organization has assigned me with ABAP developer to create BAPI as required for the report.
This BAPI returns Current Finished Goods Stock Description
My code checks for columns key and column value dynamically

[2018-05-14 10:53] gkralik commented on #52
I do not need any production code, just a minimal example that reproduces the issue (with a step by step explanation). Without that, I won't be able to help you.
This also has nothing to do with wincache, but might be related to either a metadata cache in SAP itself or the cache used by the NetWeaver SDK.

[2018-05-14 11:32] goalmaker commented on #52
I have informed the ABAP developer to check SAP Portal cache. I will get back to you once he replies.
Any idea how to refresh metadata from iis server dynamically using PHP.

[2018-05-15 06:53] goalmaker commented on #52
[code]
This is my code.

[2018-05-15 13:45] gkralik commented on #52
I will have a look at providing a method for clearing the repository cache. Cannot give you a timeframe though.

[2018-05-16 05:38] goalmaker commented on #52
Thank you Gregor Kralik for your time. I have 20 days before moving to production.
At present restarting iis for every change in BAPI table fields.

As I am not regular to forums, Please guide by providing an example link if someone has explained the quoted requirement -->  "(just a minimal example that reproduces the issue (with a step by step explanation) )" so that i can improve my explanation

[2018-05-17 19:49] ignaciomdominguez commented on #51
Hi,
same issue.

PHP Warning:  PHP Startup: Unable to load dynamic library 'php_sapnwrfc' (tried: ext\php_sapnwrfc (No se puede encontrar el m¾dulo especificado.), ext\php_php_sapnwrfc.dll (No se puede encontrar el m¾dulo especificado.)) in Unknown on line 0
PHP 7.2.5 (cli) (built: Apr 25 2018 02:19:27) ( NTS MSVC15 (Visual C++ 2017) x64 )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0,

[2018-05-17 20:17] avadaneidanut commented on #51
Try to add the sdk lib folder to path.

On Thu, May 17, 2018, 22:49 ignaciomdominguez <notifications@github.com>
wrote:

[2018-05-17 21:44] ignaciomdominguez commented on #51
It was already added. Thks

[2018-05-18 05:53] gkralik commented on #51
Is this solved?

[2018-05-18 12:37] ignaciomdominguez commented on #51
No. PHP still unrecognize .dll as an extension

[2018-05-18 13:40] iespino00 commented on #51
I can not either, I have SAP ERP 2005 29 (06/2017) sap.com SAP ERP 6.0

[2018-05-18 16:53] ignaciomdominguez commented on #51
Now it's working !!!!
librfc32.dll were in c:\windows\syswow64 and c:\windows\system32. Even if both are in PATH variable php doesn't search in this places. I moved the file librfc32.dll to \ext directory.
In the other hand I remove ZTS=0 from preprocesor directives.
Now is working.
Thanks

[2018-05-21 10:35] kf202020 opened #53 "I feel stupid but ...."
....I cannot install the whole thing :|
Followed the installation guide. Zero error but "php -m | more" still doesn't display the line sapnwr.

Tried even with different builds .... actually trying with Php 7.2.5-1+ubuntu17.10.1+deb.sury.org+1

Any idea?

Thx

[2018-05-21 10:41] gkralik commented on #53
Have you enabled the extension in your `php.ini`?

[2018-05-21 10:52] kf202020 commented on #53
I cannot find any "enable extension" I just copied the extension=sapnwrfc.so without semicolumns following the guide .....
I put this under ;dynamic extensions

[2018-05-21 10:54] gkralik commented on #53
That should suffice. Any error output when you launch a script?

[2018-05-21 10:55] gkralik commented on #53
Did you put the extension line in the correct php.ini file? Debian uses separate files for CLI and web IIRC.

[2018-05-21 10:59] kf202020 commented on #53
[code]

Tried this one .... nothing happened.
I used phpinfo to get php.ini path .... is that correct ?

[2018-05-21 11:04] gkralik commented on #53
It depends on whether you are using the script from CLI or web. If you put the extension line in a php.ini file and it doesn't show up with `php -m` and does not print warnings about being unable to load the extension, it most likely is the wrong file.

You can try `php -dextension=sapnwrfc.so -m` from CLI to check if the extension loads.

[2018-05-21 11:08] kf202020 commented on #53
![image](https://user-images.githubusercontent.com/39485079/40304716-0edffa32-5cf8-11e8-9d66-7f138ca41e2d.png)

Now I Got something like this ..... Really didn't know about the cli/web .....

[2018-05-22 20:14] beto2500m commented on #52
hello, in the file sapnwrfc.c line 456 function "getFunction" ( PHP_METHOD(Connection, getFunction)) , Add 2 variables:

const SAP_UC * sysnr_u;
zend_string *sysnr;

set value for sysnr:
sysnr = zend_string_init("sysnr", strlen("sysnr"), 0);

Remove Cache, Add code between the lines "intern = SAPNWRFC_CONNECTION_OBJ_P(getThis());" and "// get function description":

// Remove Cache Function Module

[2018-05-23 06:15] gkralik commented on #52
Yes, this is currently in the works. Although I do not want to clear the function cache unconditionally but make it dependent on a parameter to `Connection::getFunction()`. Something like this:

[code]

Additionally, I'd like to provide a function `\SAPNWRFC\remove_function_desc($name)` to make manually clearing the cache possible.

What do you think?

[2018-05-24 08:47] gkralik commented on #52
Or maybe an option at `Connection` level, like:
[code]

[2018-06-01 15:34] volshebnikRAJ commented on #24
Hello, I've tried using this and it doesn't work. Can you please help me

[2018-06-05 23:26] lhenkel opened #54 "Any way to turn off the trace file?"
I call this library from multiple directories and it puts dev_rfc.trc wherever I call it.

It creates when I put this in startup parameters:
$parameters = [
'trace' => \SAPNWRFC\Connection::TRACE_LEVEL_OFF,
..
];
Or when I do this
SAPNWRFC\Connection::setTraceLevel(0);
It creates a file telling me I turned the trace level down.

When I copy the sapnwrfc.ini to my current directory and change RFC_T

[2018-06-06 04:33] gkralik commented on #54
https://gkralik.github.io/php7-sapnwrfc/usage.html#trace-levels

[2018-06-06 05:42] gkralik commented on #54
As far as I'm aware, you cannot fully suppress the generation of the trace file. Your best option is turning down the trace level and setting a different trace directory by using `SAPNWRFC\Connection::setTraceDir($path)` or by using the `RFC_TRACE_DIR` environment variable.

[2018-06-06 05:42] #54 closed

[2018-06-17 15:38] rohit1290 opened #55 "Will this work on Ubuntu?"
I followed the instruction available at https://gkralik.github.io/php7-sapnwrfc/installation.html#installing-nwrfcsdk and for the step "Installing the SAP NW RFC library" I was not able to find any lib for Ubuntu on SAP official site.

Can you please help me with this.

[2018-06-17 15:48] gkralik commented on #55
You need access to the SAP customer portal in order to download the SDK. It is not publicly available AFAIK.

[2018-06-17 16:21] rohit1290 commented on #55
Yes, I did that. I only found SDK for the following:

- AIX 64BIT
- HP-UX ON IA64 64BIT
- HP-UX ON PA-RISC 64BIT
- LINUX ON IA32 32BIT
- LINUX ON IA64 64BIT
- LINUX ON POWER BE 64BIT
- LINUX ON POWER LE 64BIT
- LINUX ON X86_64 64BIT
- LINUX ON ZSERIES 64BIT
- OS/400
- SOLARIS ON SPARC 64BIT
- SOLARIS ON X86_64 64BIT
- WINDOWS SERVER ON IA32 32BIT
- WINDOWS ON IA64 64BIT
- WINDOWS ON X64 64BIT
- Z/

[2018-06-17 16:32] gkralik commented on #55
Ubuntu is Linux-based, so use IA32 or x86_64, depending on your platform.

[2018-06-17 16:32] #55 closed

[2018-06-19 05:43] #51 closed

[2018-07-17 04:30] sarakimart opened #56 "error in make"
Hi
I have problem in make .so in linux

`/app/hrportal/sap/php7-sapnwrfc/sapnwrfc.c:532:67: error: macro "zend_hash_add" requires 6 arguments, but only 3 given
/app/hrportal/sap/php7-sapnwrfc/sapnwrfc.c:649:32: error: macro "RETVAL_STRINGL" requires 3 arguments, but only 2 given
/app/hrportal/sap/php7-sapnwrfc/sapnwrfc.c:665:32: error: macro "RETVAL_STRINGL" requires 3 arguments, but only 2 given

[2018-07-17 05:38] gkralik commented on #56
Which PHP version are you trying to build for?

[2018-07-17 05:53] sarakimart commented on #56
php 7.0.2

but my php 7.0.2 was instaleed in  /app/hrportal/opt/php-7.0.27/bin/php   and  /usr/include/php  is phph 5

[2018-07-17 06:00] gkralik commented on #56
Make sure you use PHP 7 includes when building. Something like the following:

[code]

[2018-07-17 13:11] #56 closed

[2018-07-24 15:50] clcarver opened #57 "x86 build for PHP 7.1"
Hi @gkralik ,

Thank you for this great extension! The 64bit version of this works just fine, however I am locked into using 32bit due to interfacing with Oracle (so my php has to be x86), and for some reason the 64bit oci connector isn't working. I was hoping you would be able to build a x86 version of this extension for php 7.1.x. I know this is open source and I have tried to build my own witho

[2018-07-24 15:56] clcarver commented on #57
Never mind, I was just reading through the closed issues (#46) and you have stated that you do not have a build available for x86.

[2018-07-24 15:56] #57 closed

[2018-07-30 13:46] lubberscorrado opened #58 "windows dlls for php 7.2"
Could you please provide precompiled windows dlls for the latest releases as you did until march 2017? :)
Especially to have working nts dlls for PHP 7.2. Thank you!

[2018-07-30 13:48] lubberscorrado commented on #50
Could  you provide the nts version aswell?

[2018-07-31 08:28] gkralik commented on #58
As I do not have access to a Windows machine, I cannot help you with that. If someone wants to provide builds, I'm happy to upload them, otherwise just follow the build instruction and build it yourself.

[2018-07-31 08:28] #58 closed

[2018-07-31 08:28] #53 closed

[2018-08-16 12:31] renanwilliam opened #59 "SAP NW RFC SDK 7.50"
This package works with SAP NW RFC SDK 7.50?

[2018-08-16 13:07] gkralik commented on #59
It compiles without problems and there are no failed tests, so it should work. If you find any problems, please report them.

[2018-08-16 14:36] MarcioRM78 commented on #59
Yes! I'm using without any problem.
Thanks a lot for this wonderful and "KISS principle" solution Mr. Kralik =)

[2018-08-16 14:47] renanwilliam commented on #59
yes, it's worked here also! Thank you!

[2018-08-16 14:47] #59 closed

[2018-08-17 03:38] sandrociceros commented on #58
[php_sapnwrfc.zip](https://github.com/gkralik/php7-sapnwrfc/files/2295892/php_sapnwrfc.zip)

[2018-08-17 03:47] sandrociceros opened #60 "binaries for PHP 7.2.8 windows"
@lubberscorrado
#58 https://github.com/sandrociceros/php7-sapnwrfc/releases/tag/1.2.1

[2018-08-17 07:00] gkralik commented on #60
I've added them to the official release (https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.2.1).

Thank you for taking the time and contributing, much appreciated.

[2018-08-23 14:32] #60 closed

[2018-08-28 09:44] pdynarowski opened #61 "SAP Router"
How to connect via sap router ? is this possible ?

[2018-09-12 13:34] avadaneidanut opened #62 "Windows builds for PHP 7.2.*"
@gkralik Attached you can find the windows builds for latest extension version. I kindly ask you to include them in the latest release. I've tested all of them.
[php_sapnwrfc 7.2.zip](https://github.com/gkralik/php7-sapnwrfc/files/2375334/php_sapnwrfc.7.2.zip)

PHP Version used for compiling is 7.2.9 VC 15.

[2018-09-17 09:06] gkralik commented on #62
Thanks for providing these. Can you give me a quick summary of the differences of these and the already provided builds at https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.2.1?

[2018-09-17 10:12] gkralik commented on #61
Have a look at the docs: https://gkralik.github.io/php7-sapnwrfc/usage.html#connecting-to-a-sap-system
YMMV, consult the SAP NW RFC SDK documentation for details (you can find a link to the available .ini parameters in the section linked above).

[2018-09-17 10:12] #61 closed

[2018-09-17 10:36] gkralik commented on #62
Ahh, I didn't see this. Thanks a lot, I will add the x86 builds :+1:

[2018-09-17 10:39] #62 closed

[2018-09-18 12:11] goalmaker commented on #52
Hi Gregor
Currently i am restarting the web server for any BAPI change. above mentioned functionality would be a great help :)

[2018-09-18 12:56] goalmaker commented on #52
connection level setting world be great.

[2018-09-29 09:16] gkralik commented on #52
Just a quick heads-up, I didn't forget about this. Its currently a work in progress.

[2018-09-29 12:54] gkralik commented on #52
See the commit message of b58cbfa for details. Documenation still needs to be updated before I will release a new version.

@goalmaker If you are able to test the changes in master that would be much appreciated.

[2018-10-08 13:10] goalmaker commented on #52
Hi Gregor,
I appreciate your work. But I do not know what is a commit or what changes i will have to do to be effective. Or is it just copy paste of files.
However i am trying to learn how to implement fixes.
I will get back to you once i implement.
thank you brother

[2018-10-25 07:35] gkralik commented on #52
You will have to compile the extension yourself. For Windows, follow the [instructions here](https://gkralik.github.io/php7-sapnwrfc/building.html#building-on-windows).

[2019-01-14 11:16] Zavy86 opened #63 "installation issue"
hi, I followed the instructions on the page https://gkralik.github.io/php7-sapnwrfc/installation.html

Downloaded NWRFC_51-20004565.SAR for Linux on X86_64 (my release id Debian 9)

Extracted with SAPCAR

Moved the nwrfcsdk into /usr/sap/nwrfcsdk

Created the file /etc/ld.so.conf.d/nwrfcsdk.conf with contents /usr/sap/nwrfcsdk/lib and run ldconfig.

but in the directory /usr/sap/nwrfcsdk/lib is no

[2019-01-14 11:33] gkralik commented on #63
I just noticed the documentation is a little unclear here: after downloading the SAP NW RFC SDK and setting up ld(1) paths, you need to build the PHP extension (see [Building from source](https://gkralik.github.io/php7-sapnwrfc/building.html). You cannot directly load `libsapnwrfc.so` as it is no PHP extension.

[2019-01-14 13:05] Zavy86 commented on #63
Aaaaahhh, ok it work now! thank you

[2019-01-15 14:42] #63 closed

[2019-01-16 18:35] MarcioRM78 opened #64 "Port configuration"
Hi

Is there a way to configure the port connection on host?

Like...

$parameters = [
'ashost' => 'sap.company.net',
**'port' => '3302',**
'sysnr'  => '01',
'client' => '500',
'user' => 'XXXXXXXX',
'passwd' => 'XXXXXXXX'
];

I couldn't found something about it on documentation.
Default port is 3301 (as my colleague from SAP team told me), right?

Thank you in advance.

[2019-01-16 19:54] gkralik commented on #64
I am not aware of a `port` setting in the NW RFC.
IIRC the port number used by the connection is `33+sysnr`.

[2019-01-17 11:52] MarcioRM78 commented on #64
Hi, you are absolutely correct, I changed the sysnr to 02 and it worked.
My lack of knowledge in how SAP.
Thanks for your quickly response and congratulations for your job, it's really useful.

[2019-01-17 11:52] #64 closed

[2019-01-25 07:57] Zavy86 opened #65 "upper/lower case flag"
hi, how can I indicate that I want to run the remote function with the case insensitive flag enabled?

![image](https://user-images.githubusercontent.com/2051811/51732661-3c881f00-207f-11e9-8821-0532d84da3bd.png)

[2019-01-25 09:32] gkralik commented on #65
I am not aware of such a setting in SAP NW RFC SDK. Isn't that something special to SE37 and related transactions?

[2019-01-30 12:11] bigreja opened #66 "Building for Mac OS"
There is currently a version of SAP NW RFC SDK for Mac OS, i tried building this extension on my mac, but there are many errors, i have replaced on configure script the names the libraries suitable for Mac OS.
but executing Make i got this error:

/usr/local/sap/nwrfcsdk/include/sapucx.h:303:14: fatal error: 'uchar.h' file not found

i'm not familiar with building environments.
any help please?

[2019-01-30 17:28] bigreja opened #67 "Crash Running under php-fpm"
Tested on ubuntu 18.04
It runs ok using command line php script.php
but when running on apache2 and PHP through php-fpm it crashes php-fpm
error form log is simply
[Wed Jan 30 17:14:55.591207 2019] [proxy_fcgi:error] [pid 2513] AH01067: Failed to read FastCGI header
[Wed Jan 30 17:14:55.591262 2019] [proxy_fcgi:error] [pid 2513] (104)Connection reset by peer: AH01075: Error dispatching request to

[2019-02-07 10:05] gkralik commented on #66
I do not use macOS, so I cannot help you there.

[2019-02-07 10:06] gkralik commented on #67
Without providing a test script to reproduce the crash(?) and more information, I will not be able to investigate.

[2019-02-07 10:07] #65 closed

[2019-02-07 10:25] bigreja commented on #67
I have an Ubuntu 18.04 server installation with ISPConfig installed,
i've used a sample from your documentation.

<?php
use SAPNWRFC\Connection as SapConnection;
use SAPNWRFC\Exception as SapException;

$config = [
    'ashost' => '192.168.0.163',
    'sysnr'  => '00',
    'sysid'  => 'PRD',
    'client' => '100',
    'user'   => 'WAVE-RFC',
    'passwd' => 'mebra2013',
    'trace'  => SapConnecti

[2019-02-21 21:26] luckyduck opened #68 "Crash when not running on CLI"
Thanks for all the effort you put into this. Really appreciated. I ran into a problem, though. I hope you can help with this.

### CLI is working fine
- First of all, the extension seems to load correctly, when I run PHP on the CLI
- I don't get a connection yet, but that might be unrelated the extension.

### FPM / MOD_PHP causing problems
I am trying to enable this extension for mod_php and/or p

[2019-02-21 21:58] luckyduck commented on #67
I can confirm this behaviour. Also see #68 for more information

[2019-02-23 15:02] gkralik commented on #68
This sounds interesting. Personally I never had any problems using PHP-FPM, but I have never tried with Apache mod-php... I'll try to investigate.

[2019-02-23 15:03] gkralik commented on #67
Any chance to get a coredump of the crash?

[2019-02-23 15:03] gkralik commented on #67
Also, I'm missing the PHP version you are using!?

[2019-02-23 15:04] gkralik commented on #68
What is your PHP version?

[2019-02-23 15:59] gkralik commented on #68
Just a quick thought: are the files in `/usr/sap/nwrfcsck` readable by the user Apache and/or mod_php or PHP-FPM are running?

[2019-02-23 16:47] gkralik commented on #52
Closing this, as version 1.3.0 with support for clearing the function description cache has been released.

[2019-02-23 16:47] #52 closed

[2019-02-23 17:38] gkralik commented on #68
Also, try to use SAP NW RFC SDK 7.20 instead of 7.50. There might be unsolved problems with the new SDK, as I have not tested the extension using the new SDK yet.

[2019-02-23 17:59] gkralik opened #69 "SAP NW RFC SDK 7.50 support"
Check if everything works as intended.

[2019-02-23 21:37] luckyduck commented on #68
Awesome. It was about access rights. Didn't thought about it in regard to the libraries. Thank you so much!

[2019-02-23 21:37] #68 closed

[2019-02-28 13:07] coresh opened #70 "Could not open connection"
## Could not open connection (SAP NW RFC SDK 7.20 and 7.50)

### connection credentials: correct

[code]

[code]

[code]

[code]

[code]

[code]

## Each execution:
### Could not open connection

[2019-02-28 13:11] gkralik commented on #70
Check the generated trace file. It might give you a hint.
Also note that SDK 7.50 might still cause problems, it hasn't been tested thoroughly. You might want to try SDK 7.20 also.

[2019-03-01 08:01] #70 closed

[2019-03-01 12:41] gkralik commented on #69
As 7.50 requires changes to the building process, the next version (1.5.0) will only support building with SAP NW RFC SDK 7.50.

The SDK is fully backwards compatible, using the latest version is recommended.

The last version which supports building for SDK versions < 7.50 ist [1.3.0](https://github.com/gkralik/php7-sapnwrfc/tree/1.3.0).

[2019-03-06 09:08] bigreja commented on #67
php -v result:
PHP 7.2.10-0ubuntu0.18.04.1 (cli) (built: Sep 13 2018 13:45:02) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.10-0ubuntu0.18.04.1, Copyright (c) 1999-2018, by Zend Technologies

I will try to get a core dump

[2019-04-02 22:42] reeperbahnause opened #71 "R3Name/SID can not be defined"
Hi,
I could not find a way to define the  `R3NAME`/ `SID` / `SYSID` or whatever the correct name would be.
At least it's not in the stub so I dont know if this value could still be set?
Could you help me with this?

Thank you for the nice work!

[2019-04-04 08:12] gkralik commented on #71
The supported connection settings are linked from the documentation: [Connecting to a SAP system](https://gkralik.github.io/php7-sapnwrfc/usage.html#connecting-to-a-sap-system)

[2019-04-12 13:27] Zavy86 opened #72 "Failed to invoke function (help please)"
Hi, continue to give me this error: "Failed to invoke function ZSCELTA_CAMPIONATURA",

[code]

SAP TIORDE structure:

![image](https://user-images.githubusercontent.com/2051811/56040361-84414d00-5d36-11e9-9053-928c8ae530b6.png)

Could it be due to the ZANNO parameter which is a NUMC and not a CHAR? °_°

Thank you for support!

[2019-04-12 14:01] Zavy86 commented on #72
Sorry, i have found the exception in the $e->getErrorInfo()['key'] ! ;)

[2019-04-12 14:01] #72 closed

[2019-04-16 07:26] gmuehl opened #73 "Class 'SAPNWRFC\Connection' not found"
I have a decent problem in PHP 7.3. The Module ist compiled without errors. phpinfo() shows that it is available

![phpinfo](https://user-images.githubusercontent.com/151238/56189836-31fb7700-6029-11e9-8723-f6a8f22625d7.png)

I tried to use it in Zend Framework which worked well with PHP7.0, but with PHP7.3 i am getting this error:

 Error
 Class 'SAPNWRFC\Connection' not found

I tried all kinds

[2019-04-17 14:35] paulovidalpereira opened #74 "SNC suppport"
Is there any change that this library will receive SNC login support?

[2019-04-18 11:38] gkralik commented on #74
What would be needed?

[2019-04-30 18:46] clcarver commented on #74
This would be amazing. I think what would be needed is the ability to provide the SNC name and what level of security would be needed. (https://help.sap.com/saphelp_nw70ehp3/helpdata/en/48/a88d7f5134307de10000000a42189b/frameset.htm) I tried to pass the SNC Lib and SNC QOP but that didn't work. Digging around I found that those parameters do not exist. I think the end goal would be to allow single

[2019-05-01 00:50] reeperbahnause commented on #73
Same issue here except that I don't see sapnwrfc in phpinfo().
But in the CLI with php -m the extension is shown.
I attached the build log, so you can see what happend.
[build.log](https://github.com/gkralik/php7-sapnwrfc/files/3133604/build.log)

[2019-05-01 13:50] #71 closed

[2019-05-01 13:51] gkralik commented on #67
@bigreja any update on this?

[2019-05-01 13:54] gkralik commented on #73
@gmuehl can you give me some details (OS, exact PHP version, example code to reproduce)?
@reeperbahnause if you don't see sapnwrfc in your phpinfo() output, it is not loaded, so it won't work. Make sure to update the correct configuration file (CLI and FPM sometimes use different php.ini files).

[2019-05-01 14:04] gkralik commented on #74
What do you mean by "... those parameters do not exist"?

Can you give me some example code so I can see what you tried?

[2019-05-01 14:29] reeperbahnause commented on #73
@gkralik
I just found the reason for my issue. The extension was not loaded because the `sapnwrfc.dll` was nowhere in the `PATH` environment found. After I copied the, file the extension was loaded and as far as I can tell it works with PHP 7.3.4
There was one more issue when I tried to open the first connection. In the apache `error.log` I found the following:

   The following files must be in t

[2019-05-01 14:35] gkralik commented on #73
Glad to hear it works.

Yes, ICU libraries are needed for the SAP NW RFC SDK to work.

[2019-05-01 14:39] reeperbahnause opened #75 "Code block missing for windows build documentation"
I noticed that the code block for windows is missing:

![image](https://user-images.githubusercontent.com/14199872/57022437-72fda900-6c2f-11e9-993a-7b35422e52a4.png)

[2019-05-01 15:29] clcarver commented on #74
The link I provided shows that there are general connection parameters, and then client parameters. Looking at the docs for this .ini, it looks like the only parameters that are being use are the client parameters. So according to the SAP docs, there are some options for SNC, but I am unsure how to implement since they are not part of the client parameters passed in via the $options.

`
$this->han

[2019-05-01 16:30] gkralik commented on #75
Thanks, I will fix that 👍

[2019-05-02 05:43] gkralik commented on #75
Fixed in 07f6c6e.

[2019-05-02 05:43] #75 closed

[2019-05-02 05:46] gkralik commented on #74
The config you pass to the `Connection` constructor should look like this (no `connection` or `Production` keys):
[code]
In general, you can use all of the settings in the link you provided either in the `sapnwrfc.ini` file or by directly passing them to the constructor.

[2019-05-03 11:37] clcarver commented on #74
Sorry for the confusion, I have several different connections set up, the $config only has the 'Production' array, what the constructor receives is exactly as you describe. I do not have a problem connecting with a username and password, but it is not working using snc.

[2019-05-03 11:46] gkralik commented on #74
I assume an exception is thrown when you try to connect with SNC? If yes, wrap the code in a try-catch and check the exception details (`var_dump()`) should show some details. You can also try to increase the trace level and check the generated trace files for hints about what exactly fails.

I have never tried to connect with SNC, but I'm happy to help you debug the issue. If you post the trace f

[2019-05-03 11:47] gkralik commented on #73
@gmuehl do you still have the problem you described or can we close this issue?

[2019-05-03 11:54] gmuehl commented on #73
The problem still exists in PHP7.3.5 on Debian. Everything ok in phpinfo(); (see Screenshot), but if i do
a

$connection = new SAPNWRFC\Connection($parameters);

It tells me that the Class can't be found. Tried it with \SAPNWRFC too, end i tried it with a USE. Always the same result: Class not found

[2019-05-03 12:00] gkralik commented on #73
Strange.
What's the output of
[code]
What version of Debian, Apache/nginx/whatever are you using?

[2019-05-03 12:12] gkralik commented on #74
From the header file (`sapnwrfc.h`):

In your connection options, you only have `snc_qop` and `snc_lib`, maybe that's the cause?

[2019-05-03 12:22] gmuehl commented on #73
Hi Gregor

looks like i have lied about the PHP-Version :D

Output of var_dump

[2019-05-03 12:26] gmuehl commented on #73
My Fault! You can close the ticket. The Module was enabled in Apache, but not in PHP Cli.

[2019-05-03 12:27] gkralik commented on #73
Ah, something like that would ave been my next question/hint. Glad to hear it works.

[2019-05-03 12:27] #73 closed

[2019-05-03 12:47] gkralik commented on #74
Additionally, as per https://testhelpportal.com/viewer/e73bba71770e4c0ca5fb2a3c17e8e229/1610%20003/en-US/d9e8a740bbaa4d8f8bee6f7b173bd99f.html the parameters `SNC_PARTNERNAME`, `SNC_LIB` and `SNC_MODE` seem to be required.

[2019-05-03 16:15] luisalonso97 opened #76 "Problem loading php extension."
Hi, we have a problem loading the latest build (1.2.1 - 2018-03-08) under Windows Server 2016 64-bit.
We have PHP 7.2.11 running on IIS. I have followed the steps to set up the SAP NW RFC library under "C:\nwrfcsdk", it's already included in Path.
But trying on load the lastest nts-64bit build php doesn't find the dll.
It outputs the message
"Message: PHP Startup: Unable to load dynamic library 's

[2019-05-03 20:13] clcarver commented on #74
Thank you so much for the info. This looks really promising! I will try on Monday to get this working and get back to you. Have a good weekend.

[2019-05-06 11:53] clcarver commented on #74
Just wanted to give an update to my progress. I have configured my connection to use the parameters as you described and I am getting a response back, but unable to log in. I need to install the trust broker software in order to get the SNC_LIB path, so I will be working with my internal IT department to get that figured out. Once I get that done I will report back with an update and if all is wor

[2019-05-22 09:30] stuli3 opened #77 "v1.3 bild extension"
Please make a build to PHP7.3 nts x64 windows dll
Thanks!

[2019-05-31 08:21] gkralik commented on #77
Sorry, I do not have access to a Windows box. Building yourself should not be hard.

[2019-05-31 08:21] #77 closed

[2019-05-31 11:11] mdemori opened #78 "dev_rfc.trc created always even without direct calling to SAP function"
Hello,

My setup:

Win10
WSL (Windows Subsystem for Linux)
PHP 7.3

I've a very strange problem. The dev_rfc.trc is always created even if i only call the php interpreter.
Even a simple script with "echo 'test';" inside create a dev_rfc.trc in the directory where the file is executed.
Also simply calling php from command line then exit, create a trc file.

inside the file i found below message (al

[2019-05-31 14:55] stuli3 commented on #77
Sorry, but it is... Someone else who do it to version 1.2.1?

[2019-05-31 15:35] mdemori commented on #78
I found a solution, the problem is that on WSL the uuidd service must be started manually... so a simple sudo  service uuidd start solve the problem.

[2019-05-31 15:35] #78 closed

[2019-06-06 07:09] h-mulahmetovic commented on #76
Hi,

I have the same problem.
I'm using the prebuilt php_sapnwrfc-1.2.1-7.2.8-vc15-nts-x64.dll.

Running Windows Server 2016 x64 with PHP 7.2.8 nts x64
![image](https://user-images.githubusercontent.com/31687390/59013434-3cbcd600-883a-11e9-9321-d4a6d58fca04.png)

nwrfcsdk located in C:\.
![image](https://user-images.githubusercontent.com/31687390/59013473-552cf080-883a-11e9-89de-3a14a2113374.png)

[2019-06-06 07:12] mdemori opened #79 "Retrieve all informations about an RFC or a BAPI"
Hello,

I'm migrating from saprfc (https://sourceforge.net/projects/saprfc/files/saprfc/1.4.1/) to sapnwrfc, and now i need something that seem missing from sapnwrfc lib.

Sometime I need a way to get all details about an rfc/bapi so i can have all available field, type and information about the function.

On the old library there is a function called saprfc_function_interface that return all info

[2019-06-07 18:32] gkralik commented on #79
I will have a look at this.

[2019-06-08 07:10] gkralik commented on #79
At the moment, there is no way to get additional type information. I have it on my list, but cannot give you an ETA on this.

[2019-06-08 07:11] gkralik commented on #67
Closing as there has been no response for a month now.

[2019-06-08 07:11] #67 closed

[2019-06-08 07:12] #66 closed

[2019-06-08 07:12] gkralik commented on #74
Have you managed to get it working?

[2019-06-08 07:12] gkralik commented on #76
Any updates?

[2019-06-18 16:22] clcarver commented on #74
Hi, sorry for the long wait. I have yet to get it working but I have made some progress that might help others. I have installed our CyberSafe software but I am having issues getting Kerberos working with IIS. Very frustrating to say the least! From what I am told, once this is resolved I should be able to SSO into SAP. I will keep this thread updated regardless of the outcome.

[2019-06-24 08:52] malpaniankit opened #80 "Sapnw SDK download"
Hi , is there any way to download this sdk / library without having a SAP login ?   my organization does not have a SAP installation / loginid  , we want to create an application for our customer where we want to use php-sapnwrfc .

please help me out here.

[2019-06-24 08:54] gkralik commented on #80
I do not think this is possible. Ask your client if they can provide you with the SDK or contact SAP.

[2019-06-24 08:54] #80 closed

[2019-06-28 08:43] mdemori commented on #79
Thank for you hard work! I really appreciate this! thank you

[2019-07-29 06:20] janezn31 opened #81 "php7-sapnwrfc - server side"
Hi,
recently found this library - GREAT WORK! I would just ask, if there is a plan to support also server side (SAP call to PHP application)?

Keep up with the good work!

[2019-07-30 06:41] szabizs commented on #26
So the problem with this is that you have to define an array, but watch out how you define it

This will not work because the array does not have an **index**.
`		$customersData = [
			'LOW'       =>  $sap->populateKunnrWithZeros($customer->kunnr),
			'HIGH'      =>  $sap->populateKunnrWithZeros($customer->kunnr)
		];`

This will work because the array has an **index**.
`		$customersData[0] = [

[2019-08-05 08:36] gkralik commented on #81
Not at the moment I'm afraid...

[2019-08-15 17:19] patrickpdx opened #82 "need help on using sapnwrfc"
Hi there,

I am trying to use sapnwrfc to connect to SAP system, here is my case (Windows server 2016, apache 2.4.35/PHP 7.2.10):

I have downloaded the "php_sapnwrfc_x86.dll" file, and put to the PHP extension folder, and enabled this extension without problem.

now I am trying to write the code based on the example on this site.

	$sap = new SAPNWRFC\Connection(array(
						"logindata"=>array(

[2019-08-19 08:22] gkralik commented on #82
https://gkralik.github.io/php7-sapnwrfc/installation.html
https://gkralik.github.io/php7-sapnwrfc/introduction.html#quick-start

[2019-08-21 17:49] avadaneidanut commented on #77
@gkralik Attached you can find the builds for Windows PHP version 7.3.8 and library version 1.3.0. You can include them in the release if you want. cc @stuli3

[php_sapnwrfc-1.3.0-7.3.8-vc-15.zip](https://github.com/gkralik/php7-sapnwrfc/files/3526577/php_sapnwrfc-1.3.0-7.3.8-vc-15.zip)

[2019-08-23 20:28] patrickpdx commented on #82
Hi Gregor,

Thanks for the information, but I am not able to "Download the SAP NW RFC library", I have no account on the SAP ONE Support launchpad. what I should do? how do I register the account?

Best regards,
Patrick

[2019-08-26 10:07] gkralik commented on #82
Contact your SAP administrator for help on accessing the SAP support center‌.

[2019-08-26 10:07] #82 closed

[2019-08-26 10:30] gkralik commented on #77
@avadaneidanut thanks, I'll add them in the next few days.

[2019-08-27 11:46] #76 closed

[2019-08-27 11:55] gkralik commented on #77
https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.3.0

[2019-08-28 10:43] Ragemon88 opened #83 "sapnwrfc 1.3.0 php 7.3.8 - Connection Issues?"
Hi @gkralik,

first of all thank you for your superb work!

**Now to our problem:**
We are using the compiled NTS version attached to your latest release from February.

Our script looks like this:
`
if (extension_loaded('sapnwrfc')) {
        $config = array();
        $config['ashost'] = 'HOSTNAME';
        $config['sysnr'] = '51';
        $config['client'] = '500';
        $config['user'] = $us

[2019-08-28 12:37] #83 closed

[2019-08-28 12:37] Ragemon88 commented on #83
Okay we forgot to copy the SAP SDK to the server. My bad. Sorry

[2019-09-18 09:47] avadaneidanut commented on #34
@gkralik In the latest release of the SDK (7.50) there was note stating:

Is maybe this a solution for adding SSO to the PHP library?

[2019-09-18 09:57] gkralik commented on #34
Thanks for letting me know, I'll have a look at this. It sounds promising though...

[2019-10-01 05:17] mdemori opened #84 "How to set connection timeout"
Hello,

currently the connection timeout seem set to around 60 seconds. I need to set te connection timeout to 10 or 20 seconds.. how can I set it?

Thank you

[2019-10-01 11:13] gkralik commented on #84
I am not aware of any setting in the SDK that affects the timeout.

[2019-11-03 12:40] ekobudis opened #85 "Failed test connection to SAP"
Hello,

this is my first time use SAP connection, but i try to connect with parameter and failed to retrieved data from function module in sap.

this test code :

[code]

thanks.

[2019-11-03 13:29] gkralik commented on #85
Please don't post passwords. I edited you post.

What error do you get?

[2019-11-03 13:33] ekobudis commented on #85
need configuration file sapnwrfc.ini

[2019-11-03 19:55] gkralik commented on #85
A sapnwrfc.ini is not needed. What exactly does not work? Do you get an exception? If yes, provide the full error.

On 3 November 2019 14:33:07 CET, Shinobi Ta <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-11-04 06:12] ekobudis commented on #85
the error from trace result is
NW RFC Library: SDK variant, Release 750 Patch Level 5, Compiled on Aug 20 2019 21:18:37
 CPIC library: 753.2019.02.22 version 3, NI library: 40, Kernel Release: 753 Patch Level 500
 Current working directory: /var/www/test, Program: php
 Hardware: AMD/Intel x86_64 with Linux x86_64, Operating_system: Linux 4.15.0-62-generic
 Hostname: ubuntu-1cpu-1gb-sg-sin1, IP add

[2019-11-04 12:32] gkralik commented on #85
The UUID daemon is recommended, not mandatory.

Again, what is the exact error you are getting? If you cannot connect, there should be an exception. If the function call fails, there should be an exception. So wrap the code in a `try {} catch {}` and post the exception details. Otherwise no one will be able to help you.

[2019-11-05 13:46] gkralik commented on #85
Please format your code properly. It helps with reading.

Again, there must be a proper error message. If you get a 502 Bad Gateway error look into your server logs. Also provide details on your environment (PHP version, SDK version). Did you follow the instruction at https://gkralik.github.io/php7-sapnwrfc/installation.html ?

Without a real error message I will not be able to provide help.

[2019-11-05 15:21] ekobudis commented on #85
Thanks GKralik, after I'm check all parameter and any configuration this case is successful to test and done now.,
for information i use SAP NW RFC SDK 7.50 and PHP 7.2 & Laravel 5.7

[2019-11-05 16:22] #85 closed

[2019-11-11 16:40] #84 closed

[2019-11-11 17:05] gkralik commented on #74
Any news on this?

[2019-11-17 03:49] clcarver commented on #74
I have been in contact with the vendor multiple times but have had no luck. You can close this and if I can get it working I will come back and provide an update.

[2019-11-17 07:01] #74 closed

[2019-12-06 06:14] Wang-xiaozhang opened #86 "errorInfo:DBSQL_STMNT_TOO_LARGE，Der Open SQL command is too big."
大神,你好！一次查询大量的数据出现的错误:
errorInfo=['key'=>“DBSQL_STMNT_TOO_LARGE“，'message'=“Der Open SQL command is too big”],
请问这是SAPRFC的限制还是可以设置的？(英语不好，请见谅！)
--------------------------------------------------------------------
Hello,BIG God! An error occurred when querying a large number of data at one time:
errorInfo=['key'=>“DBSQL_STMNT_TOO_LARGE“，'message'=“Der Open SQL command is too big”],

Is this the limi

[2019-12-23 17:07] patrickpdx opened #87 "some questions about sapnwrfc"
Hi there,

I have been tried using sapnwrfc, still not very clear. here are some questions:
I have tried to compile from scratch, have not made it work yet. my environment is windows platform (Apache 2.4.35, PHP 7.2.10), I saw there is some pre-built extensions for Windows (php_sapnwrfc-1.3.0-7.3.8-vc15-nts-x64.dll, php_sapnwrfc-1.3.0-7.3.8-vc15-nts-x86.dll, php_sapnwrfc-1.3.0-7.3.8-vc15-ts-x64.dl

[2019-12-30 00:59] clcarver commented on #87
You need to have the SAP NW RFC library installed on the server (https://gkralik.github.io/php7-sapnwrfc/installation.html) and from SAP here (https://support.sap.com/en/product/connectors/nwrfcsdk.html). Then you can use one of the compiled PHP extensions and update your php.ini file to include it. Use it as detailed here https://gkralik.github.io/php7-sapnwrfc/usage.html

[2019-12-30 18:29] patrickpdx commented on #87
Hi there,

Thanks for the information. sorry that I am kind new to this, not really sure I fully understand here.
I have our IT guy download the library for me and they extracted it for me, now i have two "nwrfcsdk_720" and "nwrfcsdk_750" (based on my environment, which one I should use?) , then what I need do next step? put this on my folder, then set PATH?

and sorry what does mean "and from SAP

[2020-01-02 18:36] clcarver commented on #87
You can use whichever client version you want. There are some differences between the two so you should read up on which one would best suite your needs, but I am guessing either one would be fine. "and from SAP here" was just pointing to some documentation from SAP.

You should have a couple folders in your directory: bin, demo, doc, include, and lib. Set the lib folder in your PATH. That folder

[2020-01-02 19:19] patrickpdx commented on #87
Hi there,
Thanks for the information. but I am not able to make the sapnwrfc loaded.

This is what I did.
1. I rename the prebuilt file "php_sapnwrfc-1.3.0-7.3.8-vc15-nts-x86.dll" to "php_sapnwrfc.dll", then copy it to "php\ext" folder. then update the php.ini file to have the extension set.

2. copy the folde nwrfcsdk_720 to C driver, and rename it as "nwrfcsdk", then set PATH "C:\nwrfcsdk\lib",

[2020-01-02 22:01] patrickpdx commented on #87
and I check the PHP log, here are the error:
[02-Jan-2020 21:53:03 UTC] PHP Warning:  PHP Startup: Unable to load dynamic library 'sapnwrfc' (tried: c:/wamp/bin/php/php7.2.10/ext/sapnwrfc (The specified module could not be found.), c:/wamp/bin/php/php7.2.10/ext/php_sapnwrfc.dll (The specified module could not be found.)) in Unknown on line 0

[2020-01-03 07:24] beneluxs opened #88 "undefined function"
Hello,

As per your documentation when I calling \SAPNWRFC\clearFunctionDescCache('ZHR_PHP_PAYSY');
it's throwing an exception undefined function clearFunctionDescCache()

in my php file I just put \SAPNWRFC\clearFunctionDescCache('ZHR_PHP_PAYSY'); line nothing else

ZHR_PHP_PAYSY is my function module name this function module was change few days ago and one parameter has been added.

please help

[2020-01-03 16:02] clcarver commented on #87
The error typically means it physically can't find the extension. I would try using a relative path vs the full path. Check your extension_dir var in your php.ini and play around a bit.

Second thing that jumps out is you are using php version 7.2.10 and the extension you are using is for php 7.3.8 (7.3.x) Not sure if that would cause some issues.

Lastly, the thing that bites me the most when set

[2020-01-06 14:23] shokarta opened #89 "extension won't load"
Hello,

as far I am aware, I have tried everything.
Win10 64x
PHP Version 7.3.4
Architecture x64
Thread Safety enabled
(copied from phpinfo();)

php.ini:
extension=php_sapnwrfc-1.3.0-7.3.8-vc15-ts-x64.dll
file is saved as "php/ext/php_sapnwrfc-1.3.0-7.3.8-vc15-ts-x64.dll"
 - both is ctrl+c so here is no typo...

when run php-cgi.exe i have this error:
PHP Warning:  PHP Startup: Unable to load dyna

[2020-01-06 14:33] shokarta commented on #89
EDIT, tried to remove .dll from php.ini:
extension=php_sapnwrfc-1.3.0-7.3.8-vc15-ts-x64
 - i have noticed that in php.ini for some extensions i use .dll and for some not, but all others work fine

There was no result change whatsoever

PS: I cant modify initial post, but basicaly my language says "Uvedeny modul nebyl nalezen" => "The specified module could not be found"

also, php.ini:
extension_d

[2020-01-07 03:12] gkralik commented on #89
Have you checked file permissions?

[2020-01-07 07:07] shokarta commented on #89
Yes, same as any other dll in the ext directory

[2020-01-21 07:39] gkralik commented on #88
Which version of the extension are you using? The function ` \SAPNWRFC\clearFunctionDescCache($fn)` has only been added in version 1.3.0 (see [Changelog](https://github.com/gkralik/php7-sapnwrfc/blob/master/CHANGELOG.md#130---2019-02-23))

[2020-01-21 07:40] gkralik commented on #89
Any updates?

[2020-01-21 07:40] gkralik commented on #86
This seems not to be related to the extension itself. Have a chat with your ABAP developer about that error.

[2020-01-21 07:40] #86 closed

[2020-01-21 07:41] gkralik commented on #87
Any updates?

[2020-01-22 10:10] shokarta commented on #89
Unfortunatelly not at all, Im stuck at the same place where I was… I have tried all precompiled versions, several php versions, but no luck…
Can you recommend some recent EXACT XAMPP version where you made this work?

[2020-01-22 10:14] gkralik commented on #89
Have you tried to compile the extension yourself? The precompiled DLLs are provided for convenience only and there is no guarantee they will work on all machines.

[2020-01-23 14:21] shokarta commented on #89
Issue fixed, I redownloaded the SAP SDK from support SAP page and now it works.
All filenames was corrected, but in one file i noticed different filesize, so I believe it was corrupted.
However, would be good feature if you can make some startup warning, that your lib will not work because it can not reach/open the sap SDK files.. so it can at least point people where the problem is.
Thank you :)

[2020-01-23 21:43] patrickpdx commented on #87
Hi clcaver/gkralik,

I still can't make it work. I have done the following things without luck:

1. using the relative path, system can't load sapnwrfc extension, and even can't load the other extensions either.

2. I have tried installing new version WAMSERVER 3.2.0 (Apache 2.2.8, PHP 7.3.12), doing all the stuff I mentioned previously, still not able to load the extension.

3. Also I tried insta

[2020-01-24 12:01] beneluxs commented on #88
Thank You

[2020-01-24 12:01] #88 closed

[2020-01-24 12:54] #89 closed

[2020-01-24 12:57] gkralik commented on #87
[code]

It looks like the extension cannot find the SAP NW RFC SDK libraries. Have you followed the [installation instructions](https://gkralik.github.io/php7-sapnwrfc/installation.html)?

[2020-01-29 05:22] ayashanoor commented on #63
Hi Zavy86
Please share the full process about PHP and SAP connectivity.

[2020-01-29 23:54] patrickpdx commented on #87
please see my very beginning post, I have asked our IT to downloaded and extracted "nwrfcsdk_720", I change the name to "nwrfcsdk", then put it under "C:\", set the PATH to point to "C:\nwrfcsdk\lib". The only thing I did not do is "Compiling the PHP extension". got the prebuilt extension mentioned above. then following the instruction "Enabling the extension".

anything missed?

Regards,

[2020-01-31 16:19] Zavy86 commented on #63
Hi, I try this https://gkralik.github.io/php7-sapnwrfc/building.html

[2020-02-04 11:33] gregor-j commented on #79
Hello,

my project relies on the data types declared by SAP for automatic type conversion. In comparison to [Eduard Kouckys legacy saprfc PHP module](http://saprfc.sourceforge.net/), yours (and [P. Hardings](https://github.com/piersharding/php-sapnwrfc)) module is missing `name` and `type` of the member elements of structs and tables. Therefore I cannot automagically convert SAP DATE and TIME elem

[2020-02-04 11:34] gkralik commented on #79
I'll have a look at it in the coming days and will get back to you.

[2020-02-06 12:31] mdemori commented on #79
Thank you very much!!!!

[2020-02-07 12:51] gkralik commented on #87
Try to build the extension yourself. The pre-built DLLs are provided just for convenience and there might be problems if PHP versions, VC versions etc. don't match.

[2020-02-12 19:30] gkralik commented on #79
I have started working on this. No ETA yet though...

[2020-02-12 19:39] gkralik opened #90 "Improve Windows build documentation"
Update the Windows build instructions to use PHP's new Windows SDK .

[2020-02-12 19:40] #81 closed

[2020-02-13 07:02] avadaneidanut commented on #90
@gkralik I can help with this, I’ll make a pull request on the docs. Should I make the instructions for the latest versions of php? 7.2 and greater?

[2020-02-13 07:03] avadaneidanut commented on #79
@gkralik the python official package has this kind of functionality.

[2020-02-13 07:03] gkralik commented on #90
Yes, 7.2 and up would be best. I tried it last week using the new SDK and it seems much easier to build now. If you can help, that would be much appreciated.

[2020-02-13 07:08] gkralik commented on #79
Interesting, looks much like what I did.

I'm thinking about a `RemoteFunction::getParameterDescription($fieldName = null)` or `RemoteFunction::getFunctionDescription()`. It does already work, but lacks tests.
Hopefully, this will land in the next 2-3 weeks in master.

[2020-02-13 07:11] gkralik commented on #90
I've added support for specifiying a path to the NW RFC SDK using `--with-sapnwrfc=PATH` in 47a31e29626828f8f9ad76f253ff3521952895c7. This should help keeping the PHP build directory clean (no need to copy the SDK files into the PHP source tree).

[2020-02-13 08:49] avadaneidanut commented on #90
@gkralik Should I make the instructions for the master branch?

[2020-02-13 08:50] gkralik commented on #90
Yes.

[2020-02-14 09:08] szabizs opened #91 "PHP 7.4.2 build errors on Windows"
Hi guys,

I did a lot of generations for different PHP versions but for 7.4.2 I am unable to solve this.
Could someone help me out?
It is really important for me to have the windows dll for 7.4.2

[code]

Then it fails on me ...

[code]

If I try to build the unshared version another problem at nmake snap

[code]

And the nmake snap log

[code]

Here is the resulting folder

![image](https://user-

[2020-02-15 14:36] szabizs commented on #90
This should solve my 7.4.2 build issue also?

[2020-02-16 07:49] gkralik commented on #91
Using https://wiki.php.net/internals/windows/stepbystepbuild_sdk_2 the extension builds just fine with PHP 7.4.2.

[2020-02-16 09:05] szabizs commented on #91
I will definitely try this out, i tried with the initial build tools, not the sdk 2.
I’ll be back with the results.

[2020-02-16 13:40] gkralik commented on #79
The current master now contains a method `getFunctionDescription` for a `RemoteFunction` that provides access to the function's interface description.

Example return value for the `STFC_STRUCTURE` function:
[code]

Note: this is still a work in progress, documentation is not finished yet and the method and/or field names could change. Feedback welcome.

[2020-02-16 13:59] mdemori commented on #79
Thank you! I will try immediately tomorrow morning! currently I don't have access to our test system I will back to you as soon as I did some tests

[2020-02-17 08:34] szabizs commented on #91
I did compile it but now in WAMP i do receive the following error.

`Warning: PHP Startup: Can't load module 'C:/ownprograms/wamp/bin/php/php7.4.2/ext/php_sapnwrfc.dll' as it's linked with 14.24, but the core is linked with 14.16 in Unknown on line 0`

[2020-02-17 09:00] gkralik commented on #91
I've never tried WAMP. I guess you need the same compiler/linker/VC++ versions.

[2020-02-17 10:51] szabizs commented on #91
I guess so since i built it now with VS2015 x64 Native Tools i got this specific error.

[code]

[2020-02-18 16:16] gregor-j commented on #79
I tested the current `master` branch, and `getFunctionDescription()` works as promised.

Thank you! :smiley:

[2020-02-19 12:30] avadaneidanut commented on #91
@szabizs Try with the attached extensions. I've built for both 7.4.2 and 7.4.3 with extension version 1.3.0, vc15, ts and x64. It should work.
[php_sapnwrfc.zip](https://github.com/gkralik/php7-sapnwrfc/files/4225025/php_sapnwrfc.zip)

[2020-02-19 12:37] avadaneidanut commented on #90
@gkralik I'll wait for the 2.0.0 release before doing this.

[2020-02-19 13:18] szabizs commented on #91
Thank you for making me understand the issue.
I've tried both DLL's and they work as expected.
Best of all!

[2020-02-19 13:18] #91 closed

[2020-02-19 13:28] gkralik commented on #91
I have attached the pre-built DLLs for 7.4.2 and 7.4.3 to the [1.3.0 release](https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.3.0) page.
Thanks @avadaneidanut for providing them.

[2020-03-10 09:46] vilda72 opened #92 "Not valid Win32 application"
Hi guys,
I have issue with installing your php7-sapnwrfc. Here is my environment:

Windows Server 2012 Standard, 64b
PHP 7.4.3 x64
php -v
PHP 7.4.3 (cli) (built: Feb 18 2020 17:29:46) ( ZTS Visual C++ 2017 x64 )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies

I have downloaded release php_sapnwrfc-1.3.0-7.4.3-vc15-ts-x64.dll from https://github.com/gkralik/php7-sap

[2020-04-29 19:47] MarcioRM78 opened #93 "Connection options"
Hi!

Can I use any of the options below in php7-sapnwrfc connection to SAP?

  -h <ashost>          SAP application server to connect to this needs to include the SAP router string if applicable
  -s <sysnr>           system number of the target SAP system
  -u <user>            user
  -p <passwd>          password
  -c <client>          client
  -l <language>        logon language
  -D <destinati

[2020-04-30 14:38] ladenise opened #94 "SAPRFC legacy code migration"
Hello,

First of all, thanks for the contribution.
I'm trying to migrate a legacy app using your lib.

I have a problem calling a function (FUNCTION_NAME in example below) where I need to append a value (123 in the example below) at the end of an internal table (TABLE1 in the example below) as a way to filter the results.
I tried invoking the function as below:

[code]
But I get the following mess

[2020-04-30 14:40] ladenise commented on #94
Just adding a little detail.
In the legacy app, the PARAMETER1 was set with a saprfc_import function.
While the TABLE1 was set with a saprfc_table_append function.

[2020-04-30 16:25] gkralik commented on #93
See [Connecting to a SAP system](https://gkralik.github.io/php7-sapnwrfc/usage.html#connecting-to-a-sap-system) for options you can use.

[2020-04-30 16:25] #93 closed

[2020-04-30 16:34] gkralik commented on #94
The error `Failed to set TABLE row, expected array for parameter TABLE1 ` is caused by wrong parameter format in the `ìnvoke()` call.

Table parameters expect arrays of arrays, so something like this should work:
[code]

[2020-04-30 18:58] ladenise commented on #94
It works perfectly. Thank you.

[2020-04-30 18:58] #94 closed

[2020-06-20 06:37] Bharath116 commented on #82
Cant we download package without   SAP administrator  help Sir

[2020-06-21 15:11] gkralik commented on #82
No, you need a SAP account/license as far as I know.

[2020-06-21 16:23] Bharath116 commented on #82
Okay tq

[2020-08-04 06:38] querl opened #95 "Building/using Extension with Docker 7.4-fpm-alpine"
I have to use the Library in a Docker Alpine Linux system (Docker 7.4-fpm-alpine). I could successfully build the extension, but it could not be loaded. `php -m` output

[code]

The nwrfcsdk library is available in `/usr/sap/nwrfcsdk`

I think this problem is related to alpine's use of `musl` instead of `glibc`. There is a way to install glibc under alpine, which I have done, but I think the build

[2020-08-31 13:50] kamedan opened #96 "is there a linux .so build ?"

[2020-09-04 08:25] gkralik commented on #96
Not at the moment.

[2020-09-16 05:15] didinosing commented on #73
Can you describe the solving case? Thanks

[2020-09-18 10:30] gkralik commented on #95
I have never tried using this with `musl`. But even if the PHP extension itself would work, I'm not sure the SAP libraries would?

[2020-10-16 08:51] ladenise opened #97 "No effect on function call with no error"
Hello,

I'm encountering a problem that might be a server side problem. As I'm not sure I submit it here.
Thanks in advance for your help !

[code]
As you can imagine, I get 4 rows from the first function call. Then I'm supposed to delete thoses rows.
Finally I should get new rows on the third call.

The problem is I don't get new rows but the old ones. So the deletion call isn't working.

Is ther

[2020-10-16 08:56] ladenise commented on #97
It works on a legacy program that uses the old PHP 5 SAPRFC extension.
Please find it below

[code]

[2020-10-16 14:24] clcarver commented on #97
You might need to call the fm BAPI_TRANSACTION_COMMIT after making changes.

[2020-10-16 14:51] ladenise commented on #97
@clcarver thanks for your reply. I appreciate your help.

How can I call it please?
Like this:
[code]

[2020-10-16 17:44] clcarver commented on #97
That should work.

[2020-10-19 09:17] ladenise commented on #97
Hello @clcarver,

I changed the test code to:
[code]

Unfortunately, the DEL action is still not working.

[2020-10-19 13:10] clcarver commented on #97
can you dump what SAP is returning in both of the invoke calls to see if there is an error message?

[2020-10-19 14:05] fikusir opened #98 "Point _zend_hash_index_update@@24 could not be located"
Hi guys,

Have this issue comming from apache: The procedure entry point _zend_hash_index_update@@24 could not be located in the dynamic link library

Running on Win10 64bit with Xampp 3.2.4 installed. Php version is 7.2.27 64bit.

I installed downloaded SAP NW RFC SDK 7.50 and exported bz 7zip co C:. Added the path to this directory in Enviroment. When I rename C:\nwrfcsdk to something else then

[2020-10-19 14:09] gkralik commented on #98
You said you are using PHP 7.2.27, but you have the extension DLL for PHP 7.4.3. That probably won't work.

[2020-10-19 14:30] #98 closed

[2020-10-20 12:09] ladenise commented on #97
The problem has been solved with server side debugging.
Thanks for your hep.

[2020-10-20 12:09] #97 closed

[2020-10-27 14:20] andipohl opened #99 "Datatype RFCTYPE_DECF34"
We want to call a function that returns a table. In this table, a field has the data type **RFCTYPE_DECF34**.
The call fails with the error message:

`Unknown type for parameter KAQTY.`

It comes from rfc_parameters.c:rfc_get_field_value.

Is it possible to implement support for this data type?

[2020-11-13 06:49] Swift-DC opened #100 "Calling function invoke() returns partial data null"
This is an example of what information:
`
var_dump($f->getFunctionDescription());
var_dump($f->invoke(["LV_MAKTX"=>"*棉*"]));
`

array(6) {
  ["LV_LAEDA"] => array(9) {
    ["name"] => string(8) "LV_LAEDA"
    ["type"] => string(12) "RFCTYPE_DATE"
    ["direction"] => string(10) "RFC_IMPORT"
    ["description"] => string(0) ""
    ["ucLength"] => int(16)
    ["nucLength"] => int(8)
    ["decimals"]

[2020-11-13 06:51] gkralik commented on #99
I will have a look at this.

[2020-11-13 06:52] #95 closed

[2020-11-16 08:48] #100 closed

[2020-11-22 12:54] gkralik commented on #99
Support for `DECFLOAT16` and `DECFLOAT34` is now in `master`.

Both types are mapped to PHP strings to prevent rounding errors.

[2020-11-22 13:03] #96 closed

[2020-11-22 13:04] #87 closed

[2020-11-22 13:04] #79 closed

[2020-11-22 13:05] gkralik commented on #69
Latest `main` branch already targets SDK 7.50.

[2020-11-22 13:05] #69 closed

[2020-11-24 12:37] andipohl commented on #99
Great! I have tested it under Linux.

It's working as expected.

[2020-12-16 16:19] gebrerav opened #101 "memory crash with umlauts or special characters"
We migrate from Eduard Koucky's SAP Rfc library to sapnwrfc.
One of our self developed RFC funtion calls that works flawlessly with Koucky's SAPRFC, crahes if called with php7-sapnwrfc.

After some debugging we found that the crash happens if one field in the records returned by the function call  contains several umlauts.
The crash "memory corruption or free(): invalid next size (fast) " happens

[2020-12-16 16:21] gkralik commented on #101
Thanks for reporting this, I will have a look in the coming days.

[2020-12-19 17:59] gkralik commented on #101
I'm having a hard time reproducing this.

Can you share:
- your connection configuration (excl. credentials)
- a short ABAP FM that reliably reproduces the crash for you.

The string length in PHP is the byte-length of the string, so for an input of `Äöß/€üöuCu` the string length in PHP is expected to be 17 (umlauts are encoded as 2 bytes, € as 3 bytes):
[code]

Why it is 15 four you I do not yet

[2020-12-19 18:17] #99 closed

[2020-12-19 18:17] gkralik commented on #92
Try to compile the extension from source.

[2020-12-21 09:20] gebrerav commented on #101
Hi Gregor,

thanks for Your fast response. I will provide a minimal ABAP to You , most probably only a kind of write to table ..
The connection information is :

$config = [
    'ashost' => '1.1.1.1',
    'sysnr'  => '00',
    'client' => '100',
    'user'   => 'sapuser',
    'passwd' => 'userspassword',
    'trace'  => SapConnection::TRACE_LEVEL_OFF,
];

Best Regards Gerhard
Von: Gregor Kralik <n

[2020-12-21 17:50] gebrerav commented on #101
Hi Gregor
Attached is the short ABAP and the php call
Thanks and best Regards Gerhard

-------- Originalnachricht--------
Von: Gregor Kralik <notifications@github.com<mailto:notifications@github.com>>
Datum: Sa., 19. Dez. 2020, 19:00
An: gkralik/php7-sapnwrfc <php7-sapnwrfc@noreply.github.com<mailto:php7-sapnwrfc@noreply.github.com>>
CC: Brehm Gerhard <Gerhard.Brehm@andritz.com<mailto:Gerhard.Breh

[2020-12-22 09:40] szabizs opened #102 "Does this connector support PHP8?"
I was wandering if thie connector does support PHP8?

[2020-12-22 09:41] gkralik commented on #102
Not yet - it's on the roadmap though, but I have no ETA at the moment.

[2020-12-22 15:18] gkralik commented on #101
Thank you.
Can you also provide
- the PHP version you experienced this on
- the exact version of php7-sapnwrfc you used (version or git commit)

[2020-12-22 16:00] gkralik commented on #101
And if you happen to have a coredump from one of the crashes that would greatly help with debugging.

[2020-12-28 14:56] gebrerav commented on #101
hi

unfortunately i was not able to create a coredump, so i called the script via gdb and with strace.

Output of gdb php > run t,php

warning: Loadable section ".note.gnu.property" outside of ELF segments
...
warning: Loadable section ".note.gnu.property" outside of ELF segments
free(): invalid next size (fast)
Program received signal SIGABRT, Aborted.
0x00007ffff4b7b70f in raise () from /lib64/l

[2020-12-29 08:09] gkralik commented on #101
@gebrerav Unfortunately, GitHub seems to strip attachments. Please attach the files to this issue instead.

[2021-01-01 15:44] gebrerav commented on #101
Hi Gregor,
i uploaded the strace file as well as the php and abap.

is it also possible to hire You to solve the problem ?
If yes, and You are interested, please contact me via gerhard.brehm@brehm-rv.de
Thanks in advance
Gerhard

[strace.txt](https://github.com/gkralik/php7-sapnwrfc/files/5759111/strace.txt)
[php.txt](https://github.com/gkralik/php7-sapnwrfc/files/5759113/php.txt)
[abap.txt](https

[2021-01-03 17:01] gkralik commented on #101
@gebrerav You have closed the issue. Is the problem resolved?

I am still unable to reproduce this problem using the latest version of *php7-sapnwrfc* (built from source), SAP NW RFC SDK 7.50 (patch level 5) and PHP 7.4.13.

The *strace* output you provided indicates a core dump has been created (`+++ killed by SIGABRT (core dumped) +++`). To further investigate, I need that core dump (use `ulimit

[2021-01-04 08:23] gebrerav commented on #101
Good Morning,
Apparently i have closed the issue by mistake,the problem isnt resolved.
As I'm on holiday actually, i will not be able to provide the information about php /SAP rfc version before next week.
Regards Gerhard

-------- Originalnachricht--------
Von: Gregor Kralik <notifications@github.com<mailto:notifications@github.com>>
Datum: So., 3. Jan. 2021, 18:01
An: gkralik/php7-sapnwrfc <php7

[2021-01-06 12:53] gebrerav commented on #101
Hi,

I will upload the coredump to the issue in a few minutes.

PHP Version is :

PHP 7.4.11 (cli) (built: Sep 29 2020 10:17:06) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
   with Zend OPcache v7.4.11, Copyright (c), by Zend Technologies

SAPNW Library : 7.50.7

php7-sapnwrfc : Build from source , version 1.3.0 -2019-02-23 , https://github.com/gkralik/p

[2021-01-06 12:58] gebrerav commented on #101
corefile attached
[core.zip](https://github.com/gkralik/php7-sapnwrfc/files/5775865/core.zip)

[2021-01-09 12:53] gkralik commented on #101
Thanks for providing more detailed information.

While I could not reproduce your specific issue, I found a memory corruption in the code responsible for converting strings from SAP to PHP and vice versa that looks similar to your issue.

I have pushed a possible fix in dfc332c.

Using PHP 7.3.25, 7.4.11 and 7.4.13 with both SDK 7.50 patch level 5 and 7 I could not trigger the memory corruption ag

[2021-01-11 16:42] gebrerav commented on #101
Hi,

Thanks for providing the fix. Apparently, the issued does not occur after building the extension with the fix and testing it as well with the test function call and also the original application.
The issue is solved

Von: Gregor Kralik <notifications@github.com>
Gesendet: Samstag, 9. Januar 2021 13:53
An: gkralik/php7-sapnwrfc <php7-sapnwrfc@noreply.github.com>
Cc: Brehm Gerhard <Gerhard.Breh

[2021-01-13 12:14] SimoneSilini opened #103 "Building issues"
Hello,

I've been experiencing the string memory corruption bug from special characters and I see there is a fix already implemented in the current version of the source.
That said I'm experiencing an issue building the dll.
After following all the steps i invoke 'nmake' and it crashes with this error report:

`sapnwrfc.c
string_helper.c
c:\php-sdk\phpdev\vc15\x64\php-src\ext\sapnwrfc\php_sapnwrfc

[2021-01-13 12:35] gkralik commented on #103
Building on windows is currently broken. I have it on my agenda for the coming days.

[2021-01-13 21:49] gkralik commented on #103
This should now work again.

[2021-01-13 21:53] gkralik commented on #101
The fix is included in release [1.4.0](https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.4.0).

[2021-01-13 21:53] #101 closed

[2021-01-14 08:46] SimoneSilini commented on #103
Hi,

I can confirm that this is working again and also fixed the string corruption / fast-cgi crash problem.

Thanks a lot
Simone

[2021-01-14 08:46] #103 closed

[2021-01-14 09:18] #92 closed

[2021-02-12 17:49] zeetabit opened #104 "work with php 7.3 under docker"
Hello!

When I run `make test` I get a lot of failed tests. Is it ok or needs something else?
I'm using docker container based on the debian with php 7.3, copied sources of SAP NetWeaver RFC SDK 7.50 and copied your repository.

Let's see the `make test` output:

[code]

[2021-02-12 20:57] gkralik commented on #104
Check `tests/*.log` for details about what's going on.

[2021-02-15 14:41] zeetabit commented on #104
I found that all of these tests are requires setup connection and all them should be skipped by file https://github.com/gkralik/php7-sapnwrfc/blob/main/tests/014_connection_returns_object_if_ok.phpt . Seems everything is ok on that, but they are launched every time.

The first logfile for ex.:
[code]
-------
Could you help with this? I use the debian based container. Is it ok wheb I have a dev_rfc

[2021-02-16 06:43] gkralik commented on #104
Thanks for the logs. I'll check why the tests are not skipped...

The `dev_rfc.log` file is expected. Ignore it or install `uuidd` as mentioned in the file.

[2021-02-16 16:42] gkralik commented on #104
Obviously, I messed up the skipif includes (again). Should be fixed with 5deb513.

[2021-02-16 19:03] #104 closed

[2021-02-21 10:02] gkralik commented on #102
I have started working on PHP 8 support - not quite ready yet, though.

[2021-02-24 07:34] hasnatinter opened #105 "Receive a 502 bad request in vagrant."
Hello, i am receiving a 502 bad request using homestead with Laravel and nginx. I am using php 7.4 fpm.

[2021-03-01 07:15] rahulaepl opened #106 "Not able to open connection to SAP server"
I am trying to connect to SAP from a Windows 2019 Standard Server 64-bit.

Getting this error

Exception : Could not open connection

The library seems to be loading fine, but it is not able to connect to SAP. No trace file is getting generated even with the VERBOSE flag.
Could you please help resolve this or help me switch on the trace file so that the problem is clearer?

My environment details

[2021-03-04 17:32] clcarver commented on #106
I would guess it has something to do with your configuration. 192.168. ip address implies your SAP install is installed locally? I am not sure how your connection is set up, but you can look here: https://help.sap.com/viewer/753088fc00704d0a80e7fbd6803c8adb/7.5.9/en-US/48a8e5f451343079e10000000a42189b.html

If you are using a router for a firewall, your connection settings will be different.

Also

[2021-03-11 05:25] FocusRS opened #107 "rfc result contains "<"、">""
i have a problem about rfc result string.

when i use "**RFC_READ_TABL**E" to get data, but result string contain "<"、">"

i can't get the fully result string

the result string format like "**< ABC >XYZ(123)**" (no space)

but the result string is partial => "**XYZ(123)**"

"**< ABC >**"  (no space) disappear

how can i solve it

when "**ABC**" is chinese, i can get the fully result string

utf8

[2021-03-11 05:34] #107 closed

[2021-03-16 21:11] gkralik commented on #106
As far as I know, `ashost` does not take a port. The port is derived from `sysnr`. Look at the link provided by @clcarver .

[2021-03-16 22:09] gkralik commented on #102
Preliminary support for PHP 8.0 is on `main`. Report any issues you face.

[2021-03-17 05:27] szabizs commented on #102
That is great news :) will test it put and provide feedback

[2021-03-17 16:49] gkralik commented on #105
You'll have to be more specific.

[2021-04-07 18:33] johnmarchi opened #108 "Linking errors building nts x86 version for PHP 7.4.16 on Windows."
Apologies if this is the wrong place for this question. I have tried a couple times with the latest build instructions but haven't had success yet. Here's the configure and nmake results I'm getting:

[code]
Here's the environment, in case that is the issue (trimmed a bit):

[code]

[2021-04-12 06:36] gkralik commented on #108
Thanks for reporting this. I don't have access to a Windows machine at the moment, so I can't really help you. I'll try and borrow one from a friend to try it, but it might take a while.

[2021-04-12 12:03] johnmarchi commented on #108
I appreciate any help you are able to give!

As a side note, I also tried downgrading the version of PHP I am testing with to try to use one of the pre-built extensions. I get errors with it too.

[2021-04-13 13:24] gkralik commented on #108
I should be able to get my hands on a Windows machine in the coming days to investigate.

[2021-04-13 13:44] johnmarchi commented on #108
Thank you!

[2021-05-07 10:57] kj187 opened #109 "Missing timeout option for connection"
Hey, its not really an issue, more a question but I dont know where to ask.
Is it possible to define a timeout for the connection?

[2021-05-07 11:06] gkralik commented on #109
I am not aware of any setting in the SDK that affects the timeout (see #84).

[2021-05-07 11:36] kj187 commented on #109
Thanks

[2021-05-07 11:36] #109 closed

[2021-05-07 11:47] kj187 commented on #84
Hey @mdemori

the problem was a while ago, but have you found a solution to your problem in the meantime?

[2021-05-07 13:59] lucasmichel opened #110 "Get result call larg data RFC"
First sorry my English :)

A customer has an RFC that returns a large amount of data.
When testing direct execution in SAP, the RFC returns data.
When I execute using the SAPNWRFC connection, I simply cannot capture the return, nor cause any failure, the call is simply on hold. Observe in the image below the execution time of the RFC in the SAP port, this query returns an average of 3 million and

[2021-05-12 12:50] gkralik commented on #110
Can you provide more details? At least a trace file would be interesting. How long did you let the script run?

[2021-05-12 19:43] lucasmichel commented on #110
@gkralik I have a trace activated with TRACE_LEVEL_FULL, I took a look at it and found no possible errors.
The interesting thing is that when we execute the RFC through SAPGui it takes about 35 minutes to return the data, when I do the query using php with sapnwrfc, let it run for more than 12 hours and not obitive response neither success nor failure , and as if SAP simply did not respond to the

[2021-05-12 19:56] lucasmichel commented on #110
@gkralik I did a new test here, the data could get to PHP but now this error has occurred:

![image](https://user-images.githubusercontent.com/3743280/118035940-50381c00-b342-11eb-84b3-ca5e90335673.png)

Is there any alternative for you to prevent this?

[2021-05-17 07:59] gkralik commented on #110
Well, it looks like the SDK buffers the data somewhere locally and runs out of space. You'll have to investigate further to see whats happening.

[2021-05-24 21:48] lucasmichel commented on #110
Hello, @gkralik  I've tried everything.
I unstet the object and connection, implemented __destruct with

$this->resCon->close ();
unset ($ this-> resCon);
gc_collect_cycles ();

and yet the memory of the query is not released. I changed the rfc to receive the amount of records that I want it to return, I am bringing 200000 records per query but at the end of the execution the memory is never relea

[2021-06-11 03:14] TingSyuanWang opened #111 "can work in Laravel Controller, but not command"
Dear author @gkralik,

I met pretty strange thing, it's might be the Laravel issue, but I'd like to ask you here first.

Here is my controller code, it can show the result perfectly.
[code]

However, when I moved the code to command, it showed `Class 'SAPNWRFC\Connection' not found`
[code]

I'm using Laravel 8 and php7.4 in Homestead. Moveover, I created a Ubuntu 20.04 with nginx and php7.4 server

[2021-06-12 14:51] clcarver commented on #111
Sometimes the cli runs a different php then the web server. I would dd php
info or maybe php -m from the console to see if the sapnwrfc module is
installed.

On Thu, Jun 10, 2021 at 11:14 PM Vincent Wang ***@***.***>
wrote:

[2021-06-13 02:42] TingSyuanWang commented on #111
Dear @clcarver,

Thanks for your kind help. It's helpful and solved my problem correctly.

I used `php --ini` to check my path, the real path is ` /etc/php/7.4/cli/php.ini`.
As the result, I changed the php.ini file from the above path.
After I changed the correct file, it worked as what I wanted.

[2021-06-13 02:42] #111 closed

[2021-07-09 13:08] fscholzspryker commented on #84
Hey, we are also very much interested in this functionality. Can we please reopen this issue @gkralik  ?

[2021-07-12 10:59] gkralik commented on #84
As I already said, I am not aware of any setting in the SDK that affects connection timeout.

[2021-07-14 15:40] aacraf opened #112 "Segmentation Fault error when I add sqlsrv driver"
I am trying to implement an RFC call to fetch some data and then, query to a SQL Server to do some filtering.

I can do the RFC Call and fetch the data without any problem when the pdo_sqlsrv.ini and sqlsrv.ini files are not in /etc/php/8.0/mods-available directory.

When I add those two to the directory I get  this error:

[code]

The sqlsrv drivers work and I can get data from the databases but

[2021-07-14 15:49] aacraf commented on #112
I re-installed the latest version in the main repository and now i get this error instead of the Segmentation Fault...

[code]

If I remove the sqlsrv files from the /etc/php/8.0/mods-available directory I can still fetch the data without any problem....

I add them again and I get this error.

[2021-07-15 05:58] gkralik commented on #112
Please provide a backtrace when you encounter a Segmentation fault.

[2021-07-15 13:06] aacraf commented on #112
The error happens when I call the function invoke to get the custom function module (If I call the STRF_CHANGING module it works).

I am sorry If that's not the answer but I don't really know what you mean by "backtrace". Do u want me to show a specific log or try a specific code?

[2021-07-15 17:17] gkralik commented on #112
This means you are trying to load the module twice. Check your PHP configuration files.

As for the conversion error, I will need additional information. Please provide the exact version of the `sapnwrfc` extension (git revision if not a release) and a complete, self-contained example for me to try and reproduce (PHP code and a small ABAP function module if necessary).

If you encounter a Segmenta

[2021-07-19 07:53] aacraf commented on #112
I am using the last version of the sapnwrfc extension with the php 8.0 support.

The php code i'm trying to run:

[code]

I am no getting a segmentation fault core dump anymore so I don't know how to get the backtrace for that run. I tried this:

[code]

I am also attaching the result of executing phpinfo() command in case it helps.

[test.txt](https://github.com/gkralik/php7-sapnwrfc/files/683892

[2021-07-19 13:17] gkralik commented on #112
How does `ZPE_MM_EXT_ALBAR_MECAL` look like? What data types are returned? Have you tried setting `lang` to `EN`?

[2021-07-21 14:34] aacraf commented on #112
The datatype conversion is the fallowing
![image](https://user-images.githubusercontent.com/30293728/126505848-1827a8b8-d9df-4113-b31f-13c1984744e1.png)

It seems that there is an issue with the fallowing datatype...

![image](https://user-images.githubusercontent.com/30293728/126505346-63bcf4ef-2d0f-4e20-9b1e-da765d42b27e.png)

I tried to change lang to EN and still getting the same error.

What

[2021-07-21 14:51] gkralik commented on #112
OK, thanks for the information, I'll try to have a look tomorrow evening...

[2021-07-26 21:06] reeperbahnause commented on #108
@johnmarchi
I think you are missing a few other binaries which have to be present.
I had to make these files available:
![image](https://user-images.githubusercontent.com/14199872/127059105-934bc225-9f72-4f1e-85da-10cbe6476348.png)

I hope this helps to solve the issue

[2021-07-30 03:40] gustumahendra opened #113 "Failed to get FLOAT parameter "SAP_FIELD_NAME""
Hello, does anyone encounter this error when using RFC library on linux ?
I am currently unable to get any type of FLOAT or DECIMAL field from SAP, the error said :
Failed to get FLOAT parameter "SAP_FIELD_NAME"

but if I use the same library with the same version of PHP (7.4) on windows, it's working well
how to fix this ? can anyone help ?
![error RFC](https://user-images.githubusercontent.com/8

[2021-08-16 17:09] SebZar commented on #108
@gkralik  Can you release a binary version of version 1.4 for the last PHP 7 Version when you have access to the windows machine?

Thanks you for the nice extension

[2021-08-20 06:51] Hsuan1025 opened #114 "make test failed"
hello,
When I execute make test, it fails.
Exception "errorInfo" is array with at least "key", "code" and "message". [tests/006_exception_error_info_is_array.phpt]
Connection throws ConnectionException with errorInfo set if connection fails. [tests/013_connection_throws_exception_and_has_error_info_if_connection_fails.phpt]
![20210820](https://user-images.githubusercontent.com/58675770/130192173-d

[2021-08-20 07:34] gkralik commented on #114
Which version of the extension did you test?
You seem to be using PHP 7.2 - this is not supported any more with the current version of the extension.

[2021-08-20 07:42] gkralik commented on #113
Which versions (PHP, SAP NW RFC SDK, extension) are your using?

Please share share a minimal, reproducible example (PHP + ABAP code).

[2021-08-20 07:43] gkralik commented on #108
@SebZar I'll try to get my hands on a Windows machine, can't promise anything though.

[2021-08-20 07:44] #105 closed

[2021-08-20 07:44] #106 closed

[2021-08-20 07:45] gkralik commented on #112
I am unable to reproduce this issue...

[2021-08-20 08:17] gkralik commented on #113
I have just tested this with the latest version from `main` using PHP 7.4.16 and PHP 8.0.2 on Linux. I have no problems retrieving FLOAT, DECF16 and DECF34 parameter values.

[2021-08-20 08:20] gkralik commented on #114
`make test` runs just fine on PHP 7.4.16 and 8.0.2.

[2021-08-23 08:22] keding-com commented on #114
I will upgrade to PHP and test again, thank you

[2021-08-24 09:26] hercross opened #115 "Could not open connection"
Hi, I'm trying to use sapnwrfc with php 7.4.21.

I've used saprfc with php5, and now I've upgrade my php and I want to use sapnwrfc.

I load the library, and in my php_info I can see the library is loaded, version 1.4.0 for SAP NW RFC SDK 7500.0.8

Ok, now I've tried to maka a connection:

`<?php
use SAPNWRFC\Connection as SapConnection;
use SAPNWRFC\Exception as SapException;

/*
use sapnwrfc;
us

[2021-08-24 09:36] gkralik commented on #115
Are your connection details correct? Use the `trace` setting to get an idea what is wrong.

[2021-08-24 09:48] hercross commented on #115
Hi gkralik, thanks for ansred to me..

Yes, the connection details are correct, are the same that I was using before with saprfc library.
How can I use trace??

Now, in my config I added: 'trace'  => SapConnection::TRACE_LEVEL_FULL, but where can I see it?

Thanks

[2021-08-24 09:50] gkralik commented on #115
There should be `*.trc` files in the working directory.

[2021-08-24 09:52] hercross commented on #115
No, nothing.

I'm using Xamp to test it. And the working directory is c:\XAMPP\htdocs\

There I have test.php, is my file, but ho have *.trc.

Nedd activate any more?

Thanks

[2021-08-24 09:56] gkralik commented on #115
I don't know about XAMPP.
If you set the `trace` option, the extension instructs the SAP NW RFC SDK to generate a trace file. Maybe no trace file is generated for some reasons.

Look at the exception's `errorInfo` property, it might contain additional information.

[2021-08-24 10:06] hercross commented on #115
I get this...

SAPNWRFC\ConnectionException: Could not open connection in C:\xampp\htdocs\test.php:34 Stack trace: #0 C:\xampp\htdocs\test.php(34): SAPNWRFC\Connection->__construct(Array) #1 {main}

[2021-08-24 10:10] gkralik commented on #115
Again: ConnectionException should have an `errorInfo` property.

[2021-08-24 10:28] hercross commented on #115
Hi, I have a *.trc file, are in other directory..

**** Trace file opened at 2021-08-24 12:26:12.781455 UTC+02:00 (Hora estándar romance), Encoding UTF-8
NW RFC Library: SDK variant, Release 750 Patch Level 8, Compiled on Apr 17 2021 03:23:42
 CPIC library: 753.2020.03.230 version 3, NI library: 40, Kernel Release: 753 Patch Level 814
 Current working directory: C:\xampp, Program: httpd
 Hardware:

[2021-08-24 10:30] hercross commented on #115
too many failures! I'm goping to unlock the user and test again..

[2021-08-24 14:26] #115 closed

[2021-08-25 12:00] janezn31 opened #116 "Docker file"
Hi,
is there a docker compose file - ready to use?

[2021-08-25 12:47] gkralik commented on #116
No. What for?

[2021-08-25 13:50] janezn31 commented on #116
Test environment for quick testing - for lazy people :)

[2021-08-25 14:00] #116 closed

[2021-08-26 07:34] hercross opened #117 "RFC_READ_TABLE"
Hi, I'm trying to read tables. Before, I have it with saprfc in php5, but now, no works for me..

[code]

But, exception CallException: Failed to get description for parameter CLASS, when this same, I've done with saprfc in php5...

Is it well done?

Thanks

[2021-08-26 11:45] #110 closed, assigned to nobody

[2021-08-30 10:56] goalmaker commented on #73
I am also facing the same issue with version php 7.3.8 - nts, using 1.3.0 sapnwrfc precompiled dll loaded in php
![image](https://user-images.githubusercontent.com/2524176/131324548-db5c2687-d4ce-4000-9b52-546b5004a048.png)

![image](https://user-images.githubusercontent.com/2524176/131324644-ba3c0d0d-34bc-419f-beef-af5c5ad2b8c8.png)

![image](https://user-images.githubusercontent.com/2524176/1313

[2021-08-30 10:59] gkralik commented on #73
@goalmaker Please do not comment on closed issues. If you have a problem, open another issue.

[2021-08-30 11:30] goalmaker commented on #73
sorry @gkralik  I will open it as new issue

[2021-08-30 11:31] goalmaker opened #118 "SAPNWRFC\ConnectionException: Could not open connection"
I am facing the issue as stated below
IIS SERVER ------ with version php 7.3.8 - nts, using 1.3.0 sapnwrfc precompiled dll loaded in php
![image](https://user-images.githubusercontent.com/2524176/131324548-db5c2687-d4ce-4000-9b52-546b5004a048.png)

![image](https://user-images.githubusercontent.com/2524176/131324644-ba3c0d0d-34bc-419f-beef-af5c5ad2b8c8.png)

![image](https://user-images.githubuser

[2021-08-30 11:34] gkralik commented on #118
See #115.

[2021-08-30 12:02] goalmaker commented on #118
thank you @gkralik  I Found the trace(Also just learnt about the trace feature). looks like ABAP developer has removed the user authorization while migrating the servers.

Informed internal team once released i will test and update you further.

Also .. I like the way you respond instantly. Much appreciated.

[2021-09-01 20:05] clubcentives opened #119 "Memory leak investigation - v1.4.0 and earlier"
Hi Gregor and team,

Thank you for your excellent work over the years on this connector. We've used it successfully for quite a while, but have become plagued by what appears to be a "memory leak"; what we're seeing is that memory usage grows over time until Windows crashes.

I've assembled a php-only test script to demonstrate what we're experiencing that you can also run -- this is with php 7.4.

[2021-09-01 22:55] clubcentives commented on #119
Please see my additional findings at the bottom of the above evernote doc. The findings, in short are:
(1) connect(), disconnect(), and getFunction() are not to "blame": memory usage remains level when these are used
(2) invoke() alone triggers the memory leak behavior
(3) setting use_function_desc_cache to false, calling clearFunctionDescCache($bapiName), nor setting the trace level manually to 0

[2021-09-07 12:30] gkralik commented on #119
Hi, thanks for the comprehensive write-up. I'll have a look at this after my holiday.

[2021-09-07 13:39] gkralik commented on #119
Quick question: are you able to reproduce with the current version of the extension in `main`?

[2021-09-07 14:09] gkralik commented on #119
Also, your `phpinfo()` screenshot indicates you are using SDK version 7.20 (`7210.0.35`)?

[2021-09-08 09:23] fscholzspryker commented on #102
Nice work @gkralik !!!

Could you maybe also add a tag for the latest changes please?

[2021-09-09 12:04] gkralik commented on #102
I have tagged a [2.0.0-beta1](https://github.com/gkralik/php7-sapnwrfc/releases/tag/2.0.0-beta1) release.

[2021-09-09 12:04] #117 closed

[2021-09-09 12:05] #113 closed

[2021-09-09 20:57] clubcentives commented on #119
Excellent catch. Let me fix this and retry.

[2021-09-09 22:19] clubcentives commented on #119
THANK YOU - I've confirmed that the memory leak was resolved by correctly installing the SAP NW 7.50 libraries in the system32 folder. The final two graphs in my doc below say it all : )
https://www.evernote.com/shard/s3/sh/f034f578-d47c-e5ab-534c-cb01caf060d8/
Best,

[2021-09-09 22:19] #119 closed

[2021-10-04 19:20] uiliands opened #120 "Exception: Failed to get description for field"
Hello,

I created a function module and a program in php to connect to it by function invoke.
Althought I could create and use the program without problems on our development environment, I get an error on test environment indicating "Exception: Failed to get description for field BUKRS".

I saw the extension source code and I could see the error is related to function RfcGetFieldDescByName. It se

[2021-11-29 13:43] Romanm745 opened #121 "Exceptions don't work"
### Question
Hello,
I have an exception catcher set up in my program, but I still can't catch any exceptions. Instead, I get a broken website ERR_EMPTY_RESPONSE.
Sometimes when I test something, I just get a broken page and I don't know the reason.

[code]
<html>
<body>

Version | 1.3.0-41-g725240b
-- | --
SAP NW RFC SDK | 7500.0.7

</body>
</html>

Thank you for help.

[2021-11-30 15:01] gkralik commented on #121
Have you tried with the latest version in `main`?

[2021-12-01 10:28] Romanm745 commented on #121
I installed the latest version, but now I can't cause application crash. In version 1.3, I simply made a mistake when transferring text with special characters, where there was a problem with allocating a sufficient amount of memory. Is there any way to artificially throw an exception in version 2.0.0?

[2021-12-01 10:33] Romanm745 commented on #121
BTW, error tracing does not work either. No file is generated. Of course, the trace parameter is set.
`'trace'  => SapConnection::TRACE_LEVEL_FULL,`

[2021-12-04 11:09] gkralik commented on #121
Please provide a full example to reproduce, along with the exact PHP version your are using.

[2021-12-04 11:12] gkralik commented on #120
Try the latest version of the extension with a current, supported PHP version. There have been many small improvements and I do not have the time to support old PHP or extension versions.

[2021-12-04 11:12] #120 closed

[2021-12-04 11:28] gkralik commented on #34
The latest code in `main` does now support this.

See [Retrieving a SSO ticket](https://gkralik.github.io/php7-sapnwrfc/usage.html#retrieving-a-sso-ticket) in the documentation.

[2021-12-04 11:28] #34 closed

[2021-12-04 11:42] gkralik commented on #121
Below is a full example triggering an exception and logging to a trace file:

[code]
Tested with the following versions:
[code]

[2021-12-04 12:32] #112 closed

[2021-12-04 12:44] gkralik opened #122 "Windows build problems"
I tried building with Visual Studio 2017, Visual Studio 2019, but it doesn't seems to work.
I've made a successful build on MacOS for PHP 8.0.12 but unable to make one on Windows.
Does anyone have a build for PHP 8.0 Thread Safe?

On MacOS, I needed the SAPRFCSDK PL6
On Windows we still need the SAPRFCSDK PL5 as in the lib folder there are no *.lib extensions only *.dylib

![IMG_0290](https://user

[2021-12-04 12:45] gkralik commented on #102
Support for PHP 8.0 and PHP 8.1 has been added, starting with release *2.0.0-beta1*.

[2021-12-04 12:45] #102 closed

[2021-12-05 10:01] gkralik commented on #108
I have updated the [1.4.0](https://github.com/gkralik/php7-sapnwrfc/releases/tag/1.4.0) release with prebuilt DLLs for PHP 7.4.

[2021-12-05 10:01] #108 closed

[2021-12-05 11:18] #90 closed

[2021-12-05 11:19] gkralik commented on #122
I have updated the [Windows build instructions](https://gkralik.github.io/php7-sapnwrfc/building.html#building-on-windows).

[2021-12-05 11:19] #122 closed

[2021-12-06 14:30] szabizs opened #123 "Build PHP 7.4&8.1 on Mac M1"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 7.4.26 & 8.1 |
| SAP NW RFC SDK version    | 7.5 PL 6 & PL 8 |
| Extension version/git ref | 2.0.0-beta2 - 2021-12-05 |

#### Summary

I have the path configured and tried with PL6 and PL8 but without success.

#### Current behavior

The build is giving me some errors:

[code]

[2021-12-07 21:23] gkralik commented on #123
Thanks for reporting this. Unfortunately, I neither have experience with macOS nor access to a machine.

[2021-12-07 21:25] szabizs commented on #123
basically its a linux so no big difference on that matter

[2021-12-07 21:46] gkralik commented on #123
Does SAP provide the SDK for ARM - M1 is an ARM, isn't it?

[2021-12-07 21:49] szabizs commented on #123
Yes it is ARM, but I don't see that in the list, only macos specific.

![image](https://user-images.githubusercontent.com/5064872/145111321-e684af5c-ea53-4ffe-88f9-dd9134a49d09.png)

[2021-12-07 22:00] szabizs commented on #123
I'm thinking on creating a docker image and build the SAPNWRFC extension there and continue development on that image until ARM will start working.

[2022-01-10 12:26] fikusir opened #124 "2.0.0.Beta1 vs 2.0.0.Beta2 PHP 8.0.X versions"
### Question

Hi, in the realease of 2.0.0. Beta1 I see compiled plugin in version 8.0.15. In Beta2 I see 8.0.13.

For me the version 8.0.15 doesnt exists, so it should be 8.0.12?

Thank you so much and thank you for this awesome plugin!

[2022-01-10 16:52] gkralik commented on #124
I might have messed up the version, yeah... Shouldn't matter though.

[2022-01-10 16:53] gkralik commented on #121
Closing this for lack of a response.

[2022-01-10 16:53] #121 closed

[2022-01-10 16:57] gkralik commented on #123
Nothing we can do as long as SAP does not provide ARM builds.

[2022-01-10 16:57] #123 closed

[2022-01-12 10:17] fikusir commented on #124
Just wanted to inform you :) In original question I asked you also if you will publish new Win binary, but I made my own build - thanks for you GOOD instructions! Closing. Have a perfect day sir

[2022-01-12 10:17] #124 closed

[2022-01-26 08:27] Lindo-OTG opened #125 "php module api version discrepancy"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 8 |
| SAP NW RFC SDK version  |7.5|
| Extension version/git ref |php_sapnwrfc-2.0.0-beta2-7.4.26-vc15-nts-x64 |

#### Summary
php -m
PHP Startup: sapnwrfc: Unable to initialize module
Module compiled with module API=20200930
PHP    compiled with module API=20210902
These option

[2022-01-26 11:38] gkralik commented on #125
You cannot use a pre-built DDL for PHP 7.4 on PHP 8.
/close

[2022-01-26 11:38] #125 closed

[2022-02-18 12:00] mdemori opened #126 "Sending an IDoc"
Hi, there is a way to send an iDoc directly?

thank you

[2022-02-18 15:18] gkralik commented on #126
Not that I am aware of.

[2022-02-28 13:05] fikusir opened #127 "Function->invoke return error: Expected array, string given, even when array is passed."
### Bug Report

| PHP version               | 8.0.15 |
| SAP NW RFC SDK version    | 7500.0.7 |
| Extension version/git ref | 2.0.0-beta1 |

#### Summary

Function->invoke return error: Expected array, string given, even when array is passed.

#### Current behavior

Failed to set TABLE row parameter "RNG_MATNR". Expected array, string given

#### How to reproduce

		$parameter=
		['IN' =>
			[

[2022-03-07 14:19] fikusir commented on #127
Now, not sure if it is bug - it look like mine lack of skill. Why? Because this return me all rows.

	$parameter=
	['IN' =>
		[
			'RNG_MATNR' =>
				[

				],
			'LANGU' => 'CS'
		]
	];

	$detail = $function->invoke($parameter);

Parameter RNG_MATNR is component type RANGE_T_MATNR.

Thank you for your help

[2022-03-07 14:44] fikusir commented on #127
Uff, thank you Gregor. I found out few seconds before you sent the reply.

I am closing the ticket and have a perfect day

[2022-03-07 14:44] #127 closed

[2022-04-11 12:24] stuli3 opened #128 "Unable to load module."
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 8.0.17 |
| SAP NW RFC SDK version    | 7.50.9 |
| Extension version/git ref | 2.0.0-beta2 |

#### Summary

PHP write this error when loading the module:
The procedure entry point RfcGetInt8 could not be located in the dynamic link library C:\Program Files\PHP\v8.0.17\ext\php_sa

[2022-04-11 16:03] stuli3 commented on #128
It worked on another computer. I think I don’t find an old build garbage on the original machine.... I'm sorry to bother you

[2022-04-11 16:03] #128 closed

[2022-04-27 07:27] lokeshAccount opened #129 "skipping incompatible /usr/sap/nwrfcsdk/lib/libsapnwrfc.so when searching for -lsapnwrfc"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 7.4.3 |
| SAP NW RFC SDK version    |SAP NetWeaver RFC SDK 7.50 |
| Extension version/git ref | php7-sapnwrfc  |

If I run the following commands
Not Able to build the php rfcsdk extension in php
$ git clone https://github.com/gkralik/php7-sapnwrfc.git
$ cd php7-sapnwrfc
$ phpi

[2022-04-27 08:25] lokeshAccount commented on #129
@gkralik any Update on this issue?

[2022-05-05 14:27] lokeshAccount commented on #129
@gkralik The issue was because I was using different SDK that is not compatible with the my OS,
after using correct SDK, this issue is solved,
please close this issue

[2022-05-20 08:10] #126 closed

[2022-06-18 08:25] cnjackchen commented on #128
I encountered the same problem.
I've tried PHP version 8.1.0 and 8.1.4.

[2022-06-18 08:35] cnjackchen opened #130 "Unable to load dynamic library 'sapnwrfc'"
### Bug Report

| PHP version                           | 8.1.4 |
| SAP NW RFC SDK version     | 7200.610.22 |
| Extension version/git ref       | 2.0beta2 |

#### How to reproduce
Double click php.exe
or
run php.exe from command line window

Error:
Unable to load dynamic library 'sapnwrfc'.
The procedure entry point RfcGetInt8 could not be located in the dynamic link library C:\php\ext\php_sapnwr

[2022-06-18 08:39] cnjackchen commented on #130
I've tried php 8.1.0 and 8.1.4, both failed to load the dll.
Could you please have a look and fix this bug?
Thanks a lot!

[2022-06-21 16:15] clcarver commented on #130
I think support for <7.5 was dropped. If possible, download the 7.5 version of the SAP SDK and try that.

[2022-06-21 16:20] gkralik commented on #130
Sorrry for the late reply.

Yes, as @clcarver mentioned the newest version does not support the 7.20 SDK. Use the 7.50 SDK and make sure the library files are in the path.

[2022-06-23 07:32] ynnoig opened #131 "undefined symbol: _zval_ptr_dtor"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 7.4.30 |
| SAP NW RFC SDK version    | 7.50 |
| Extension version/git ref | Tag 1.4.0 |

#### Summary

On SLE 15SP3 we have compiled and installed the sapnwrfc extension and the extension is loaded without problems.
On runtime we get the following error in apache2/error_log:

`

[2022-06-23 07:34] gkralik commented on #131
Try with the latest version in `main` (or *2.0.0-beta2*). The *1.x* versions really are for PHP 7.2 only and are not maintained anymore.

[2022-06-23 07:46] ynnoig commented on #131
I have already tried without success! :(

... But... I have other systems running in docker apache-buster php7.4 with 1.4.0 Version and everything works without problems.

I think that maybe is more related to SUSE 15 SP3 and php version 7.4.30?

I searched yesterday the whole afternoon and evening about this problem, but no success... nothing found.

[2022-06-23 07:50] gkralik commented on #131
Might be, I haven't use SUSE in more than a decade. I'll have a look when time allows.

[2022-07-05 12:11] philipphaeusle opened #132 "Version 2.0.0 stable release"
Is there a plan for the version 2.0.x stable release (for PHP 8.1.2 support)?
Or are there any known issues in the beta2 that would prevent a production use?

Thanks,
Philipp

[2022-07-05 12:15] gkralik commented on #132
Thanks for reminding me. I do have some small things on my list, but life got in the way :wink:

I cannot think of anything that would prevent production use. I'll try to find a few free hours to look over everything soon.

[2022-07-19 14:44] MaxE17677 opened #133 "RemoteFunction not testable"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               |7.4.29, 7.4.14, 8.1.7 |
| SAP NW RFC SDK version    | nwrfc750P_9-70002752 |
| Extension version/git ref | 2.0.0-beta2 |

#### Summary

1. remotefunction cannot be mocked because of the "final" flag
2. unable to destroy self-created RemoteFunction objects because of "Segmentatio

[2022-07-20 06:44] gkralik commented on #133
Thanks, I'll have a look in the coming days.

[2022-08-11 05:39] dedisupriadi1612 opened #134 "Not Build"
hello can you help me. i build sdk sapnwrfc  in windows, i've followed the steps on how to build the extentions but i found a problem where the extension is not there , realase or realse_ts not found php_sapnwrfc.dll

and i check and I checked the configuration time
![image](https://user-images.githubusercontent.com/26077025/184070696-327973c7-7772-4d48-8a08-3b9f495934bf.png)

[2022-08-19 07:33] gustumahendra opened #135 "SAPNWRFC Library returns error no conversation found with id 04395046 on certain words"
Hi, i want to ask a problem that's emerging and caught my attention recently.
Let's say I have a RFC that returns material data when I do search for material name for at least 3 character, everything works just great except for this spesific word i've found to be a problem. When I search for words 'prost' it returns
![image](https://user-images.githubusercontent.com/88175623/185567120-1aba5e29-93a

[2022-09-21 13:26] ladenise commented on #95
Hello @querl ,
Did you find a solution for that problem?
I have the same.

[2022-09-22 09:07] gkralik commented on #95
A quick check seems to indicate `musl` is missing `rexec`:

[code]

[2022-09-22 09:09] gkralik commented on #134
Are you sure you followed all the steps in the build instructions? The sapnwrfc extension obviously is not enabled during configure.

[2022-09-22 14:19] #130 closed

[2022-10-11 07:39] poyukao opened #136 "Exception: Failed to get description for parameter TMP"
### Question

Hi,  I can run your sample program for FM: STFC_CHANGING very well.
 I have copied FM: STFC_CHANGING into FM: ZZ_PHP_TEST02, then it worked well also.
But if I renamed parameter: START_VALUE to TMP, when I INVOKE FM: ZZ_PHP_TEST02, I got an error message: Exception: Failed to get description for parameter TMP

Did I do anything wrong?
Does this mean I cannot call my own add-on RFC?

[2022-10-11 07:42] gkralik commented on #136
Hmm, make sure your custom FM is activated and marked as remote-enabled.

[2022-10-11 07:44] gkralik commented on #135
Looks like some sort of encoding issue. Check if your FM returns some special characters (foreign scripts, etc).

[2022-10-12 03:03] poyukao commented on #136
I'm very sure it is activated and remote-enabled.
When parameter name is START_VALUE, after parameter name changed , Exception: Failed to get description for parameter TMP
QQ

[2022-10-12 06:12] poyukao commented on #136
I found if I restart Apache service, then it works well.
It seems the buffer in Apache does NOT refresh after I changed FM in SAP.
Is there any function to refresh the buffer and synchronize SAP and Apache?

Thanks

[2022-10-17 10:31] vschardt opened #137 "php_sapnwrfc.dll under PHP 8.1.11"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 8.1.11 VS16 X64|
| SAP NW RFC SDK version    |7.50 |
| Extension version/git ref | 2.0.0 beta2 |

#### Summary

I downloaded the described sources written in 'Building from source', installed Visual Studio 2019 and was able to compile the module.  The downloaded version of SAP

[2022-10-18 06:48] gkralik commented on #137
Are you sure the NW RFC SKD library files are in the PATH?

[2022-10-18 07:30] vschardt commented on #137
Yes, because I compile the module successfully. After that a php_sapnwrfc.dll was present. In the same console I tested it with the command

    x64\ReleaseTS\php.exe -c x64\ReleaseTS\tmp-php.ini -m

Then I got the described warning. I replaced in the configured lib-folder (C:\nwrfcsdk\) the SAP NW RFC SDK with a x86 version (I complied x64 TS). Then I got an error not a warning. So I think the li

[2022-10-20 03:01] gokul0401 opened #138 "php_sapnwrfc-2.0.0-beta2-8.1.0-vs16-ts-x64.dll Unable to load dynamic library"
At present we are using the lib in php 7.4 (widows 2012) and we are planing for php 8 upgrade. As part of POC, I tried using the prebuilt windows package on both PHP 8.1.13 and PHP 8.1.0 , but the extension is not loading.

I copied the SAP library that is working in php 7.4 and have setup the path in the new server.

[2022-10-20 06:54] gokul0401 commented on #138
the built is working in windows 2012 server, but not in 2019 server. Any input??

[2022-10-20 06:55] gkralik commented on #138
Correct Visual C++ libs?

[2022-10-20 06:55] gkralik commented on #138
Try to find out with `procmon` or similar what library PHP or the extension does not find.

[2022-10-20 06:56] gkralik commented on #137
Try to find out with `procmon` or similar what library PHP or the extension does not find.

[2022-10-20 07:03] gokul0401 commented on #138
Warning: PHP Startup: Unable to load dynamic library 'php_sapnwrfc.dll' (tried: c:\php\ext\php_sapnwrfc.dll , rest of the extensions are loading ok.  I think I did something wrong while installing the SAP NW RFC library. May I check with you how to extract the lib from the nwrfc750 zip file using sapcar utility. I tried few commands but I got some error like header not found.

[2022-10-20 07:08] gkralik commented on #138
As I said, you have to find out which library cannot be found using `procmon` or similar.

[2022-10-21 06:33] vschardt commented on #137
The library MSVCP120.dll is missing. I think it's a library of VS 2013 runtime. I installed VS 2019 Community as you described. Did I make something wrong?

[2022-10-21 08:56] gkralik commented on #137
The SAP NW RFC SDK seems to require the Visual C++ 2013 redistributable to be installed.

I'll update the documentation accordingly.

[2022-10-21 09:03] vschardt commented on #137
I installed it. Then then module can be loaded.

[2022-10-21 09:03] #137 closed

[2022-10-21 09:45] ynnoig commented on #131
Hi @gkralik, did u get time to test with SUSE?

[2022-10-26 03:20] gokul0401 commented on #137
Great, working after installing Visual C++ 2013

[2022-10-28 07:56] gkralik commented on #136
[Manually clearing the function module description cache](https://gkralik.github.io/php7-sapnwrfc/usage.html#manually-clearing-the-function-module-description-cache)

[2022-11-09 13:47] eshan7677 opened #139 "PHP 7.3.2 + SAP NW RFC 7.50 Unable to add sapnwrfc Extension"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 7.3.2 |
| SAP NW RFC SDK version    | 7.50 |
| Extension version/git ref | x.y.z |

#### Summary

Getting [PHP Startup: Unable to load dynamic library 'php sapnwrfc'] error
#### Current behavior
Unable to add extension php_sapnwrfc.dll

Configured below steps in php.ini file

e

[2022-11-09 14:33] eshan7677 opened #140 "Unable to add extenstion PHP7 SAP NW RFC"
### Bug Report

| Q                         | A     |
| ------------------------- | ----- |
| PHP version               | 7.3.2 |
| SAP NW RFC SDK version    | 7.50 |
| Extension version/git ref | x.y.z |

#### Summary

 Getting this following error after the php extesion included
 PHP Startup: Invalid library (maybe not a PHP library) 'php_sapnwrfc'

#### Current behavior

#### How to reproduce